:root{
    --glassy: 0px 0px 3px 0px rgba(255, 255, 255, 0.4) inset, 0px 0px 2px 1px rgba(0, 0, 0, 1), 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    --glassy-shadow: var(--glassy) , var(--box-shadow);
    --glass-bg: rgba(20, 20, 20, 0.6);
    --glass-bg-light: rgba(255, 255, 255, 0.1);
    --glass-bg-dark: rgba(0, 0, 0, 0.7);
    --pf2e-shadow-is-dark: 0px 1px var(--pf2e-half-transparent-dark);
    --pf2e-translucent-middle: var(--pf2e-translucent-middle-for-light);
    --pf2e-translucent-middle-for-light: hsla(0, 0%, 80%,0.5);
    --pf2e-translucent-very: var(--pf2e-translucent-very-for-light);
    --pf2e-transcluent-very-for-light: hsla(0, 0%, 60%,0.2);
    --header-text-shadow: var(--pf2e-shadow-is-dark);
    --pf2e-shadow-is-dark: 0px 1px var(--pf2e-half-transparent-dark);
    --filter-dark: invert(100%) drop-shadow(0px 1px 1px black);
    --pf2e-half-transparent-dark: hsla(0, 0%, 0%,0.5);
    --color-text-hyperlink: #ff6400;
    --gold-and-glow: 0 0 0 1px var(--tertiary), 0 0 0 2px #9f725b, inset 0 0 3px rgba(255, 255, 255, .5);
    --red: #5e0000;
    --red-light:#ff0000;
    --custom-trait:#61180e;
    --green: #91a82a;
    --pfui-main-color: #cfbda7;
    --pfui-main-grey-color: #98968a;
    --rpg-styled-ui-color: #837360;
    --primary-remaster: hsl(153, 100%, 8%);
	--primary-light-remaster: hsl(170, 96%, 19%);
    
    --border-radius: 3px;
    --border-radius-5: 5px;
    --box-shadow: 0px 1px 3px 1px black;
    --box-shadow-light: inset 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 0 2px rgba(0, 0, 0, 0.4), inset 0px 0px 3px 1px var(--color-cool-3);
    --text-shadow: 0px 1px 2px black;


    --ornement : url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1{stroke:wheat;stroke-miterlimit:10}.st1,.st2{fill:none}%3C/style%3E%3Cg opacity='0.75'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zm3.1 3.1h3.1v3.1H3.6zm3.2 0h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zm0 0H.5V13M13 .5H6.8v3.1M29.4.5h3.1v3.1h-3.1zm-3.1 3.1h3.1v3.1h-3.1zm0 3.2h3.1v3.1h-3.1zm-3.2-3.2h3.1v3.1h-3.1zm3.2 0V.5H20M32.5 13V6.8h-3.1M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zm-3.2 0h3.1v3.1h-3.1zm3.2-3.2h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zm3.1-3.1h3.1v3.1H3.6zm0-3.2h3.1v3.1H3.6zm3.2 3.2h3.1v3.1H6.8zM6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    

    --rarity-common: #7e7e7e;
    --rarity-uncommon: #ff6400;
    --rarity-rare: #0062ff;
    --rarity-unique: #e127e1;


/* Foundry2
====================================================== */
    --color-warm-1: #ee9b3a;
    --color-warm-2: #c9593f;
    --color-warm-3: #5d142b;
    --color-warm-4: #420418;
    --color-warm-5: #26020d;
    --color-cool-1: #b1a0d4;
    --color-cool-2: #79689c;
    --color-cool-3: #584a75;
    --color-cool-4: #302831;
    --color-cool-5: #0b0a13;
    --color-cool-5-25: rgba(11, 10, 19, 0.25);
    --color-cool-5-50: rgba(11, 10, 19, 0.5);
    --color-cool-5-75: rgba(11, 10, 19, 0.75);
    --color-cool-5-90: rgba(11, 10, 19, 0.9);
    --color-light-1: #f7f3e8;
    --color-light-2: #efe6d8;
    --color-light-3: #e7d1b1;
    --color-light-4: #d0b8a3;
    --color-light-5: #9f8475;
    --color-light-6: #816b66;
    --color-level-error: #ce0707;
    --color-level-error-bg: rgba(105, 0, 8, 0.8);
    --color-level-error-border: #750003;
    --color-level-info: #59a1f6;
    --color-level-info-bg: rgba(47, 80, 132, 0.8);
    --color-level-info-border: #5c87b9;
    --color-level-success: #26b231;
    --color-level-success-bg: rgba(26, 107, 34, 0.8);
    --color-level-success-border: #1b8f23;
    --color-level-warning: #ee9b3a;
    --color-level-warning-bg: rgba(214, 150, 0, 0.8);
    --color-level-warning-border: #b18404;
    --color-scrollbar: #5d142b;
    --color-scrollbar-border: #8d151b;
}

/* scrollbar
====================================================== */
* {
    scrollbar-color: initial;
    scrollbar-width: auto!important;
}
::-webkit-scrollbar-thumb {
    background: radial-gradient(var(--color-cool-4), var(--color-cool-5))!important;
    border: 1px dotted var(--color-cool-3)!important;
}


/* POLICES
====================================================== */
@font-face {
	font-family: "Taroca";
	src: url("./fonts/Taroca.ttf") format('truetype');
}
@font-face {
	font-family: "Good OT";
	src: url("./fonts/GoodOT.otf") format('opentype');
}
@font-face {
	font-family: "Good OT Bold";
	src: url("./fonts/GoodOT-Bold.otf") format('opentype');
}
@font-face {
	font-family: "Good OT Cond Bold";
	src: url("./fonts/GoodOT-CondBold.otf") format('opentype');
}
@font-face {
	font-family: "Good OT Italic";
	src: url("./fonts/GoodOT-Italic.otf") format('opentype');
}
@font-face {
	font-family: "Sabon LT Std";
	src: url("./fonts/Sabon-LT-Std-Roman.otf") format('opentype');
}
@font-face {
	font-family: "Sabon LT Italic";
	src: url("./fonts/Sabon-LT-Std-Italic.ttf") format('truetype');
}
@font-face {
    font-family: "tauri";
    src: url("./fonts/Tauri-Regular.ttf") format('truetype');
}


/* System
*************************/
#tooltip, .locked-tooltip {
    background-color: var(--color-cool-5-90);
    color: var(--pfui-main-color);
    border-radius: var(--border-radius-5);
    border: 1px solid var(--color-warm-1);
    backdrop-filter: blur(3px);
    box-shadow: 0px 0px 6px var(--color-warm-2), 0px 2px 8px 1px var(--color-warm-3);
}
#tooltip a.inline-check, span[data-pf2-check] {
    font-family: 'Good OT';
    color: var(--pfui-main-grey-color);
    background: var(--color-cool-4);
    padding: 0px 3px;
    border: 1px solid var(--glassy);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

#sidebar .directory .directory-item.folder .context {
    background-color: var(--color-warm-3)!important;
    border-radius: var(--border-radius-5);
    border: 1px solid var(--color-warm-1);
    box-shadow: 0px 0px 6px var(--color-warm-2), 0px 2px 8px 1px var(--color-warm-3);
}
#sidebar .directory .directory-item.context, 
#sidebar .directory .directory-item.active {
    background-color: var(--color-warm-3);
    border-radius: var(--border-radius-5);
    border: 1px solid var(--color-warm-1);
    box-shadow: 0px 0px 6px var(--color-warm-2), 0px 2px 8px 1px var(--color-warm-3);
}
#sidebar .directory .directory-item .document-name:hover {
    color: var(--green);
}

.system-pf2e .directory .directory-list {
    padding: 0 0 0 5px;
}

.system-pf2e section.chat-sidebar .jump-to-bottom > a {
    color: var(--pfui-main-color);
    border-radius: 20px;
    background: var(--red);
    border: none;
    box-shadow: var(--box-shadow);
    transition: text-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out, border 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, backdrop-filter 0.15s ease-in-out, border-radius 0.15s;
    z-index: 1;
    backdrop-filter: blur(5px);
    text-shadow: 0px 0px 3px black;
    font-size: large;
}

.system-pf2e section.chat-sidebar .jump-to-bottom:hover a {
    color: var(--color-cool-5);
    background: var(--green);
    box-shadow: var(--box-shadow-light);
}

.system-pf2e .sheet.actor:not(.loot-sheet-npc),
.system-pf2e .sheet.item {
    background: rgba(6, 4, 3, 0.92);
    border-image-source: url(../../ui/frames/input_border.webp);
    border-image-slice: 5 20 20 20 fill;
    border-image-repeat: repeat repeat;
    border-image-width: auto;
    border-image-outset: 1px 2px 2px 2px;
    border-radius: 0;
}

.system-pf2e .sheet.actor .window-header,
.system-pf2e .sheet.item .window-header {
    border: none;
    color: var(--pfui-main-color);
}

.system-pf2e .sheet.actor:not(.loot-sheet-npc) .window-header::after,
.system-pf2e .sheet.item .window-header::after {
    position: absolute;
    z-index: -1;
    content: " ";
    width: 100%;
    height: 45px;
    left: 0;
    top: -9px;
    background: url(../../ui/frames/header.webp);
    background-size: 100% 45px;
}

.pf2e.chat-card .card-header,
.pf2e.chat-card .card-footer,
.pf2e.chat-card .card-footer span {
    border-top: 2px dotted var(--border-color);
    border-bottom: 2px dotted var(--border-color);
}
.pf2e.chat-card footer span {
    border-right: var(--space-2) dotted var(--border-color);
}

.pf2e.chat-card.kingdom .confirmation {
    background: none;
    border: none;
    background-color: var(--green);
    box-shadow: var(--box-shadow-light);
    text-shadow: var(--text-shadow);
    color: var(--color-cool-5);
    border-radius: 15px;
}

.system-pf2e #effects-panel {
    margin-top: 5px;
    margin-right: -10px;
}

#effects-panel .effect-item > .icon {
    height: 42px;
    width: 42px;
    margin-left: 3px;
    border-radius: 50%;
    border: 2px solid var(--color-cool-5);
    box-shadow: var(--box-shadow);
}
#effects-panel .effect-item > .icon.aura {
    border-radius: 5px;
    border: 1px solid var(--color-warm-1);
    box-shadow: 0px 0px 6px var(--color-warm-2), 0px 2px 8px 1px var(--color-warm-3);
}
#effects-panel .effect-item > .icon .value-wrapper {
    bottom: -2px;
    left: -2px;
    color: var(--pfui-main-color);
    background-color: var(--red);
    border: 1px solid var(--color-cool-3);
    border-radius: var(--border-radius);
    text-shadow: var(--text-shadow);
    box-shadow: var(--box-shadow);
}
#effects-panel .effect-item > .icon .linked {
    color: var(--pfui-main-color);
    background-color: var(--red);
    border: 1px solid var(--color-cool-3);
    border-radius: var(--border-radius);
}
#effects-panel .effect-item .effect-info {
    background-color: var(--color-cool-5-90);
    color: var(--pfui-main-color);
    border-radius: var(--border-radius-5);
    border: 1px solid var(--color-cool-3);
    backdrop-filter: blur(3px);
    box-shadow: 0px 5px 20px 3px black, 0px 0px 50px 30px color-mix(in srgb, var(--color-cool-5) 10%, transparent);
}
#effects-panel .effect-item .effect-info > a.inline-check {
    color: var(--pfui-main-color)!important;
    text-shadow: var(--text-shadow);
    border: none;
    background-color: var(--color-cool-3);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
#effects-panel .effect-item .effect-info > a.inline-check:hover {
    color: var(--color-cool-5)!important;
    text-shadow: var(--text-shadow);
    border: none;
    background-color: var(--color-warm-1);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
#effects-panel .effect-item .effect-info .description a, 
#effects-panel .effect-item .effect-info .description span[data-pf2-effect-area] {
    color: var(--pfui-main-color)!important;
    text-shadow: var(--text-shadow);
    border: none;
    background-color: var(--color-cool-3);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
#effects-panel .effect-item .effect-info .description a:hover {
    color: var(--color-cool-5)!important;
    text-shadow: var(--text-shadow);
    border: none;
    background-color: var(--color-warm-1);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
#effects-panel .effect-item .effect-info h1 {
    color: var(--pfui-main-color);
    border-bottom: 1px dotted var(--color-cool-3);
    text-shadow: var(--text-shadow);
}
#effects-panel .effect-item .effect-info .instructions {
    color: var(--color-cool-3);
    text-shadow: var(--text-shadow);
}
#effects-panel .effect-item .effect-info .description {
    color: var(--pfui-main-color);
    border: none;
    background-color: var(--color-cool-5);
    box-shadow: var(--box-shadow);
    text-shadow: var(--text-shadow);
    border-radius: var(--border-radius);
}
#effects-panel .effect-item .effect-info .tags .tag {
    color: var(--pfui-main-color);
    border: 1px solid var(--color-cool-3);
    background-color: var(--color-cool-3);
    box-shadow: var(--box-shadow);
    text-shadow: var(--text-shadow);
    border-radius: unset;
    padding: 10px 10px;
}
#effects-panel hr {
    border-top: 1px dotted var(--color-cool-3);
}



/*Commentaire status condition*/
.message-content .dice-roll .statuseffect-rules {
    background: url(../systems/imgs/chat-texture-dark.webp) repeat;
}


/* Chat */
#chat-log .message.emote p {
    text-align: center;
}

#chat-log .message .message-header {
    text-shadow: var(--header-text-shadow);
}

#chat-log .message .message-header .message-metadata {
    margin-left: 0px;
}

#chat-log .tag {
    color:antiquewhite;
    text-shadow: var(--text-shadow);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
#chat-log .tags .tag_alt.tag {
    color:antiquewhite;
    text-shadow: var(--text-shadow);
    background-color: var(--color-cool-3);
    box-shadow: var(--box-shadow);
}
#chat-log .tags .tag, .tags .tag option {
    background-color: var(--color-level-error-border);
}
#chat-log .tags.paizo-style .tag {
    color:antiquewhite;
    text-shadow: var(--text-shadow);
    border: none;
    box-shadow: var(--box-shadow);
}

#chat-log .tags .tag.tag_transparent, #chat-log .tags .tag option.tag_transparent {
    font-size: var(--font-size-11);
    color:antiquewhite;
    text-shadow: var(--text-shadow);
    background-color: var(--color-cool-4);
    box-shadow: var(--box-shadow);
}

#chat-log .chat-message > .message-header .flavor-text .target-dc-result .adjusted.decreased {
    color: var(--color-warm-1);
}
#chat-log .chat-message > .message-header .flavor-text .target-dc-result .adjusted.increased {
    color: var(--green);
}
#chat-log .chat-message > .message-content .message-buttons button i.cue {
    --fa-primary-color: var(--pfui-main-color);
    --fa-secondary-color: var(--green);
}

.message-content .chat-damage-buttons button>i.fas {
    left: 0px;
    top: 0px;
}

#chat-log .message .message-header .whisper-to {
    margin-bottom:0px;
}

#chat-log .message {
    margin: 5px 5px 10px 10px;
}

#chat-log .chat-message .message-content .damage-application {
    margin-top: 5px;
}

#chat-log .message .message-content {
    font-family: "tauri";
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.pf2e.chat-card .card-content p {
    font-family: "Good OT";
    font-size: var(--font-size-14);
}
.pf2e.chat-card .card-header img {
    border-radius: 50%;
}

.message-content .chat-damage-buttons button .label {
    font-size: 0.5em;
}

.dice-roll .dice-result .dice-tooltip .damage-type {
    background: rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
}

.message-content .chat-damage-buttons button {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px #fff inset;
    border: 1px solid var(--color-border-light-2);
}

.message-content .chat-damage-buttons button>img {
    filter: invert(75%);
}
.message-content .pf2e.chat-card .card-footer {
    border:none;
}
.message-content .pf2e.chat-card .card-content {
    background: radial-gradient(var(--color-cool-4), var(--color-cool-5));
    box-shadow: var(--box-shadow);
    border-image-repeat: repeat;
    border-image-slice: 11;
    border-image-source: var(--ornement);
    border-image-width: 14px;
    border-style: double;
    padding: 3px 10px;
    font-weight: 500;
    margin: 0px;
}
.message-content .pf2e.chat-card .addendum {
    color: var(--pfui-main-grey-color);
}
div#scrollToBottom {
    padding: 4px;
    flex: 0;
    display: flex;
    border: none;
    background-color: #61180e;
    text-align: center;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    top: 0px;
    margin: 0px 2px;
    justify-content: center;
    transition: background-color 0.15s ease-in-out;
}

div#scrollToBottom:hover {
    color:#0e0e0e;
    transition: background-color 0.15s ease-in-out;
    background-color: #91a82a;
}

.chat-damage-buttons button {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

a.content-link.broken {
    color: var(--color-text-dark-inactive)!important;
}

[data-visibility]:not([data-visibility=all])[data-visibility=owner] {
    background: radial-gradient(var(--color-cool-4), var(--color-cool-5));
}

#chat-log img {
    border: 1px solid var(--glassy);
    border-radius: 50%;
    box-shadow: var(--box-shadow);
}

#chat-log button {
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
    margin: 2px 2px 2px 2px;
    color: var(--pfui-main-color);
    text-shadow: var(--text-shadow);
    line-height: 20px;
    background: var(--color-cool-5-50);
    border: 1px solid var(--color-cool-5);
    box-shadow: var(--glassy-shadow);
    border-radius: 10px;
}
.pf2e.chat-card .card-buttons .spell-button button.small {
    background: var(--color-cool-4)!important;
    border-radius: var(--border-radius)!important;
}
#chat-log .message [data-visibility="gm"]:is(div,em,p,span,strong) {
    font-style: italic;
    color: var(--pfui-main-color);
    background: radial-gradient(var(--color-cool-4), var(--color-cool-5));
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    border: none;
}
#chat-log .message [data-visibility="owner"]:is(div,em,p,span,strong) {
    font-style: italic;
    color: var(--pfui-main-color);
    background: radial-gradient(var(--color-cool-4), var(--color-cool-5));
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    border: none;
}

#chat-log .pf2e.chat-card [data-visibility=owner] button {
    text-transform: uppercase;
    border:none;
    background: hsl(0,0%,15%);
    color: #fff;
    text-shadow: var(--text-shadow);
}
#chat-log .pf2e.chat-card [data-visibility=owner] button:hover {
    text-transform: uppercase;
    border:none;
    background: rgba(110,0,0,1);
    color: #fff;
    text-shadow: var(--text-shadow);
}
#chat-log i[data-pf2-repost]:hover {
    color: var(--color-cool-5);
    text-shadow: var(--text-shadow);
    background: var(--green);
    text-shadow: 0px 0px 2px var(--green);
    border-radius: var(--border-radius);
}
#chat-log [data-visibility]:not([data-visibility=all])[data-visibility=gm] {
    font-style: italic;
    color: var(--pfui-main-color);
    text-shadow: var(--text-shadow);
    background: var(--color-warm-3);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    border: none;
}
#chat-log .dice-result [data-visibility]:not([data-visibility=all])[data-visibility=gm] {
    border-radius: 10px;
    box-shadow: var(--glassy-shadow);
}
#chat-log [data-visibility]:not([data-visibility=all]) {
    outline: none;
    padding: 2px;
}
#chat-log [data-pf2-effect-area] {
    font-family: 'Good OT';
    color: var(--pfui-main-color);
    text-shadow: var(--text-shadow);
    background: var(--color-warm-3);
    padding: 0px 3px;
    border: 1px solid var(--glassy);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
#chat-log a.inline-check,
#chat-log span[data-pf2-action] {
    font-family: 'Good OT';
    color: var(--pfui-main-color);
    text-shadow: var(--text-shadow);
    background: var(--color-warm-3);
    padding: 0px 3px;
    border: 1px solid var(--glassy);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
#chat-log a.inline-check,
#chat-log span[data-pf2-check] {
    font-family: 'Good OT';
    color: var(--pfui-main-color);
    text-shadow: var(--text-shadow);
    background: var(--color-warm-3);
    padding: 0px 3px;
    border: 1px solid var(--glassy);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
#chat-log a.inline-check[data-pf2-traits*=secret], 
#chat-log span[data-pf2-check][data-pf2-traits*=secret] {
    font-family: 'Good OT';
    color: var(--pfui-main-color);
    text-shadow: var(--text-shadow);
    background: var(--color-warm-3);
    padding: 0px 3px;
    border: 1px solid var(--glassy);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
#chat-log .pf2e.chat-card a.inline-check, .pf2e.chat-card span[data-pf2-action] {
    font-family: 'Good OT';
    color: var(--pfui-main-color);
    text-shadow: var(--text-shadow);
    background: var(--color-warm-3);
    padding: 0px 3px;
    border: 1px solid var(--glassy);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
#chat-log .chat-message a.content-link, .chat-message a.inline-roll {
    font-family: 'Good OT';
    color: var(--pfui-main-color);
    text-shadow: var(--text-shadow);
    background: var(--color-warm-3);
    padding: 0px 3px;
    border: 1px solid var(--glassy);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
#chat-log .chat-message .message-header .flavor-text ul.notes li {
    color: var(--pfui-main-grey-color);
    text-shadow: var(--text-shadow);
    box-shadow: var(--box-shadow);
    background: radial-gradient(var(--color-cool-4), var(--color-cool-5));
    border-image-repeat: repeat;
    border-image-slice: 11;
    border-image-source: var(--ornement);
    border-image-width: 14px;
    border-style: double;
    padding: 3px 10px;
    font-weight: 500;
    margin: 0px;
}

#chat-log .pf2e.chat-card .card-buttons .hidden-to-others {
    border: none;
    background: #171f69;
}

#chat-log .pf2e.chat-card .card-buttons .hidden-to-others:hover {
    border: none;
    background: blue;
}

.dice-total:hover,
.dice-roll .dice-formula:hover,
#chat-log button:hover,
#chat-log button:focus {
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    color: var(--pfui-main-color);
    background-color:hsl(0,0%,15%);
    box-shadow: var(--box-shadow);
} 

#chat-log .chat-message > .message-content .message-buttons button .cue i {
    --fa-primary-color: var(--color-warm-1);
    --fa-secondary-color: var(--red-light);
}
#chat-log .chat-message > .message-content ul.participant-conditions {
    background: radial-gradient(var(--color-cool-4), var(--color-cool-5));
    box-shadow: var(--box-shadow);
    border-image-repeat: repeat;
    border-image-slice: 11;
    border-image-source: var(--ornement);
    border-image-width: 14px;
    border-style: double;
    padding: 3px 10px;
    margin: 0px;
}
#chat-log .chat-message > .message-content ul.participant-conditions li img {
    box-shadow: 0 0 0 1px var(--rpg-styled-ui-color), 0 0 0 2px var(--color-warm-1);
    border-radius: 50%;
    margin-right: 6px;
}


.dice-total:hover,
.dice-roll .dice-formula:hover,
#chat-log button:hover {
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    color: var(--color-cool-5);
    background: var(--green);
    box-shadow: var(--box-shadow-light); 
}

.dice-total:hover,
.dice-roll .dice-formula:hover {
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    color: var(--pfui-main-color);
    background-color:hsl(0,0%,15%);
    box-shadow: var(--glassy);
}

#chat-log .pf2e.chat-card .card-buttons button:hover {
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    color: var(--color-cool-5);
    background: var(--green)!important;
    box-shadow: var(--box-shadow-light);
}

button > i {
    margin-right: 0px;
}

#chat-log .action-glyph {
font-size: larger;
color: var(--green);
margin: 5px;
}

/*Damages*/
#chat-log .message-content .damage-application button img {
    filter: invert(75%) sepia(1) drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
}

#chat-log .message-content .damage-application button:hover {
    color: antiquewhite;
    border: 1px solid var(--color-warm-2);
    background-color:  var(--color-warm-3);
    box-shadow: var(--box-shadow-light);
}

button.half-damage .fa-heart-broken {
    -webkit-text-fill-color: unset!important;
    position: relative;
}

button.half-damage .fa-heart-broken::after {
    content: "\f7a9";
    font-family: "Font Awesome 6 Pro";
    color: hsla(0deg, 0%, 0%, 0.5);
    text-shadow: none;
    display: block;
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 2px;
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
}

.chat-message .message-content .damage-application button.half-damage .transparent-half {
    background: none !important;
}
.chat-message .message-content .damage-application button {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-18);
    height: 2em;
    justify-content: space-around;
    line-height: unset;
    padding: 0;
    color: var(--pfui-main-color);
    text-shadow: var(--pf2e-shadow-is-dark);
    background: var(--color-cool-5-50);
    border: 1px solid var(--color-cool-5);
    box-shadow: var(--glassy);
    border-radius: 10px;
}
.chat-message > .message-content .participant-conditions h4 {
    color: var(--color-warm-1);
    border-bottom: 2px dotted var(--border-color);
}
.chat-message > .message-content .participant-conditions ul li .name {
    border-bottom: 1px solid var(--red-light);
    color: antiquewhite;
    text-shadow: var(--text-shadow);
}
.message-content .chat-damage-buttons button {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px #fff inset;
    border: 1px solid var(--color-border-light-2);
}

#chat-log button:hover img {
    filter: var(--filter-dark);
}
.pf2e.chat-card .tags {
    margin: 3px 0 5px;
    border-bottom: 2px dotted var(--border-color);
}
.pf2e.chat-card footer {
    border-top: 2px dotted var(--border-color);
}
.pf2e.chat-card .card-footer span {
    border-right: 1px groove #fff;
}



/*Shield*/

#chat-log .message-content .damage-application button[data-action=shield-block]:hover {
    color: var(--pfui-main-color);
    background-color: var(--color-cool-3);
    border: 1px solid var(--color-cool-1);
    box-shadow: var(--box-shadow-light);
}

#chat-log .message-content .dice-total-shield-btn.shield-activated {
    color: var(--pfui-main-color);
    background-color: var(--color-cool-2);
    border: 1px solid var(--color-cool-1);
}

#chat-log .message-content .dice-total-shield-btn.shield-activated:hover {
    color: var(--pfui-main-color);
    background-color: var(--color-cool-3);
    border: 1px solid var(--color-cool-1);
    box-shadow: var(--box-shadow-light);
}

/*Heal*/
#chat-log .message-content .damage-application button[data-action=apply-healing] .fa-stack i.fa-plus {
    color: var(--green);
    text-shadow: none;
}
#chat-log .message-content .damage-application button[data-action=apply-healing]:hover {
    color: var(--color-cool-5);
    background-color: var(--green);
    border: 1px solid lightgreen;
    box-shadow: var(--box-shadow-light);
}



/*Damage tag base & modifier*/
.damage-tag {
    border:none;
}

.damage-tag-base {
    background: var(--pf2e-translucent-middle);
    text-transform: uppercase;
    font-style: normal;
    color:hsl(0, 0%, 0%);
    border: 1px solid rgba(255,255,255,0.5);
    text-shadow: none;
}

.damage-tag-modifier {
    background: var(--alt);
    text-transform: uppercase;
    font-style: normal;
    color:hsl(0, 0%, 0%);
    border: 1px solid rgba(255,255,255,0.5);
    text-shadow: none;
}

.chat-message .message-content .damage-roll .dice-result .instance.slashing {
    color: var(--pfui-main-color);
}
.chat-message .message-content .damage-roll .dice-result .instance.slashing .icon {
    color: var(--pfui-main-color);
}
.chat-message .message-content .damage-roll .dice-result .instance.slashing.tooltip-part>header, 
.chat-message .message-content .damage-roll .dice-result .instance.slashing:not(.tooltip-part) {
    text-shadow: #fc0 0 0 1px;
}

.chat-message .message-content .damage-roll .dice-result .instance.piercing {
    color: var(--pfui-main-color);
}
.chat-message .message-content .damage-roll .dice-result .instance.piercing .icon {
    color: var(--pfui-main-color);
}
.chat-message .message-content .damage-roll .dice-result .instance.piercing.tooltip-part>header, 
.chat-message .message-content .damage-roll .dice-result .instance.piercing:not(.tooltip-part) {
    text-shadow: #fc0 0 0 1px;
}

.chat-message .message-content .damage-roll .dice-result .instance.bludgeoning {
    color: var(--pfui-main-color);
}
.chat-message .message-content .damage-roll .dice-result .instance.bludgeoning .icon {
    color: var(--pfui-main-color);
}
.chat-message .message-content .damage-roll .dice-result .instance.bludgeoning.tooltip-part>header, 
.chat-message .message-content .damage-roll .dice-result .instance.bludgeoning:not(.tooltip-part) {
    text-shadow: #fc0 0 0 1px;
}

.chat-message .message-content .damage-roll .dice-result .dice-tooltip .instance .dice .part-formula, 
.chat-message .message-content .damage-roll .dice-result .dice-tooltip .instance .dice .part-total {
    color: var(--pfui-main-color);
}

.chat-message .message-content .damage-roll .dice-result .instance.acid {
    color: revert;
}
.chat-message .message-content .damage-roll .dice-result .instance.acid.tooltip-part>header, 
.chat-message .message-content .damage-roll .dice-result .instance.acid:not(.tooltip-part) {
    text-shadow: #fc0 0 0 1px;
}

.chat-message .message-content .damage-roll .dice-result .instance.bleed {
    color: revert;
}
.chat-message .message-content .damage-roll .dice-result .instance.bleed.tooltip-part>header, 
.chat-message .message-content .damage-roll .dice-result .instance.bleed:not(.tooltip-part) {
    text-shadow: #fc0 0 0 1px;
}

.chat-message .message-content .damage-roll .dice-result .instance.chaotic {
    color: revert;
}
.chat-message .message-content .damage-roll .dice-result .instance.chaotic.tooltip-part>header, 
.chat-message .message-content .damage-roll .dice-result .instance.chaotic:not(.tooltip-part) {
    text-shadow: #fc0 0 0 1px;
}

.chat-message .message-content .damage-roll .dice-result .instance.cold {
    color: revert;
}
.chat-message .message-content .damage-roll .dice-result .instance.cold.tooltip-part>header, 
.chat-message .message-content .damage-roll .dice-result .instance.cold:not(.tooltip-part) {
    text-shadow: #fc0 0 0 1px;
}

.chat-message .message-content .damage-roll .dice-result .instance.electricity {
    color: revert;
}
.chat-message .message-content .damage-roll .dice-result .instance.electricity.tooltip-part>header, 
.chat-message .message-content .damage-roll .dice-result .instance.electricity:not(.tooltip-part) {
    text-shadow: #fc0 0 0 1px;
}

.chat-message .message-content .damage-roll .dice-result .instance.evil {
    color: revert;
}
.chat-message .message-content .damage-roll .dice-result .instance.evil.tooltip-part>header, 
.chat-message .message-content .damage-roll .dice-result .instance.evil:not(.tooltip-part) {
    text-shadow: #fc0 0 0 1px;
}

.chat-message .message-content .damage-roll .dice-result .instance.fire {
    color: revert;
}
.chat-message .message-content .damage-roll .dice-result .instance.fire.tooltip-part>header, 
.chat-message .message-content .damage-roll .dice-result .instance.fire:not(.tooltip-part) {
    text-shadow: #fc0 0 0 1px;
}

.chat-message .message-content .damage-roll .dice-result .instance.force {
    color: revert;
}
.chat-message .message-content .damage-roll .dice-result .instance.force.tooltip-part>header, 
.chat-message .message-content .damage-roll .dice-result .instance.force:not(.tooltip-part) {
    text-shadow: #fc0 0 0 1px;
}

.chat-message .message-content .damage-roll .dice-result .instance.good {
    color: revert;
}
.chat-message .message-content .damage-roll .dice-result .instance.good.tooltip-part>header, 
.chat-message .message-content .damage-roll .dice-result .instance.good:not(.tooltip-part) {
    text-shadow: #fc0 0 0 1px;
}

.chat-message .message-content .damage-roll .dice-result .instance.lawful {
    color: revert;
}
.chat-message .message-content .damage-roll .dice-result .instance.lawful.tooltip-part>header, 
.chat-message .message-content .damage-roll .dice-result .instance.lawful:not(.tooltip-part) {
    text-shadow: #fc0 0 0 1px;
}

.chat-message .message-content .damage-roll .dice-result .instance.mental {
    color: revert;
} 
.chat-message .message-content .damage-roll .dice-result .instance.mental.tooltip-part>header, 
.chat-message .message-content .damage-roll .dice-result .instance.mental:not(.tooltip-part) {
    text-shadow: #fc0 0 0 1px;
}

.chat-message .message-content .damage-roll .dice-result .instance.poison {
    color: revert;
}
.chat-message .message-content .damage-roll .dice-result .instance.poison.tooltip-part>header, 
.chat-message .message-content .damage-roll .dice-result .instance.poison:not(.tooltip-part) {
    text-shadow: #fc0 0 0 1px;
}

.chat-message .message-content .damage-roll .dice-result .instance.sonic {
    color: revert;
}
.chat-message .message-content .damage-roll .dice-result .instance.sonic.tooltip-part>header, 
.chat-message .message-content .damage-roll .dice-result .instance.sonic:not(.tooltip-part) {
    text-shadow: #fc0 0 0 1px;
}

.chat-message .message-content .damage-roll .dice-result .instance.spirit {
    color: revert;
}
.chat-message .message-content .damage-roll .dice-result .instance.spirit.tooltip-part>header, 
.chat-message .message-content .damage-roll .dice-result .instance.spirit:not(.tooltip-part) {
    text-shadow: #fc0 0 0 1px;
}

.chat-message .message-content .damage-roll .dice-result .instance.vitality {
    color: revert;
}
.chat-message .message-content .damage-roll .dice-result .instance.vitality.tooltip-part>header, 
.chat-message .message-content .damage-roll .dice-result .instance.vitality:not(.tooltip-part) {
    text-shadow: #fc0 0 0 1px;
}

.chat-message .message-content .damage-roll .dice-result .instance.void {
    color: revert;
}
.chat-message .message-content .damage-roll .dice-result .instance.void.tooltip-part>header, 
.chat-message .message-content .damage-roll .dice-result .instance.void:not(.tooltip-part) {
    text-shadow: #fc0 0 0 1px;
}

#chat-log .chat-message .table-draw .table-results .table-result:last-child {
    font-family: "Good OT";
    font-size: var(--font-size-14);
    background: radial-gradient(var(--color-cool-4), var(--color-cool-5));
    box-shadow: var(--box-shadow);
    border-image-repeat: repeat;
    border-image-slice: 11;
    border-image-source: var(--ornement);
    border-image-width: 14px;
    border-style: double;
    padding: 3px 10px;
    font-weight: 500;
    margin: 0px;
}


/* DIALOG */
#chat-log a[href] {
    color: var(--color-text-hyperlink);
}

/*COMBAT TRACKER*/
#combat .threat-award > *, #combat-popout .threat-award > * {
    color: var(--pfui-main-color);
}
#combat .threat-award .threat .value.extreme,
#combat-popout .threat-award .threat .value.extreme {
  color: orangered;
}

/*Mystification Icon*/
.fa-circle-question:before, .fa-question-circle:before {
    color: var(--color-warm-2);
}
/*-------------------------------------------------*/
