/* A bunch of disgusting CSS overrides that hit the system's CSS like a hammer to remove as much colour as possible */

.dark-party-theme {
    --pfui-main-color: #cfbda7;
    --pfui-main-grey-color: #98968a;
    --green: #91a82a;
    --blue: #171f69;
    --red: #5e0000;
    --red-light:#ff0000;
    --custom-trait:#61180e;
    --background: #100d0d;
    --background-2: #ffffff14;
    --highlight: 0 0 0 1px var(--pfui-main-color), 0 0 0 2px #93d1d3, inset 0 0 4px rgba(255, 255, 255, 0.25);
    --glass-bg: rgba(20, 20, 20, 0.6);
    --glass-bg-light: rgba(255, 255, 255, 0.1);
    --glass-bg-light-2: #3f342b;
    --glass-bg-dark: rgba(0, 0, 0, 0.7);
    --glassy: 0px 0px 3px 0px rgba(255, 255, 255, 0.4) inset, 0px 0px 2px 1px rgba(0, 0, 0, 1), 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    --glassy-shadow: var(--glassy) , var(--box-shadow);
    --glassy-sharp: 0px 0px 0px 1px rgba(255, 255, 255, 0.4) inset, 0px 0px 5px 1px rgba(0, 0, 0, 0.8);
    --glassy-sharp-highlight: 0px 0px 0px 1px rgba(245, 222, 179, 0.7) inset, 0px 0px 5px 1px rgba(0, 0, 0, 0.8);
	--primary-remaster: hsl(153, 100%, 8%);
	--primary-light-remaster: hsl(170, 96%, 19%);
    --ornement : url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1{stroke:wheat;stroke-miterlimit:10}.st1,.st2{fill:none}%3C/style%3E%3Cg opacity='0.75'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zm3.1 3.1h3.1v3.1H3.6zm3.2 0h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zm0 0H.5V13M13 .5H6.8v3.1M29.4.5h3.1v3.1h-3.1zm-3.1 3.1h3.1v3.1h-3.1zm0 3.2h3.1v3.1h-3.1zm-3.2-3.2h3.1v3.1h-3.1zm3.2 0V.5H20M32.5 13V6.8h-3.1M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zm-3.2 0h3.1v3.1h-3.1zm3.2-3.2h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zm3.1-3.1h3.1v3.1H3.6zm0-3.2h3.1v3.1H3.6zm3.2 3.2h3.1v3.1H6.8zM6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    
    --primary: var(--red);
    --secondary: var(--blue);
    --tertiary: var(--pfui-main-color);
    --tertiary-dark: var(--pfui-main-color);
    --tertiary-light: var(--pfui-main-color);
    --body: var(--pfui-main-color);
    --text-dark: var(--pfui-main-color);
    --text-light: var(--pfui-main-color);
    --sidebar-label: var(--pfui-main-color);
    --sidebar-title: var(--pfui-main-color);
   
    --border-radius: 3px;
    --border-radius-5: 5px;
    --box-shadow: 0px 1px 3px 1px black;

    --alt: #786452;
    --sub: var(--background);
    --text-shadow: 0px 1px 2px black;

    /*--rarity-common: #7e7e7e;*/
    --rarity-common: var(--color-cool-1);
    --rarity-uncommon: #ff6400;
    --rarity-rare: #0062ff;
    --rarity-unique: #e127e1;
    
/* Foundry2
====================================================== */
    --color-warm-1: #ee9b3a;
    --color-warm-2: #c9593f;
    --color-warm-3: #5d142b;
    --color-warm-4: #420418;
    --color-warm-5: #26020d;
    --color-cool-1: #b1a0d4;
    --color-cool-2: #79689c;
    --color-cool-3: #584a75;
    --color-cool-4: #302831;
    --color-cool-5: #0b0a13;
    --color-cool-5-25: rgba(11, 10, 19, 0.25);
    --color-cool-5-50: rgba(11, 10, 19, 0.5);
    --color-cool-5-75: rgba(11, 10, 19, 0.75);
    --color-cool-5-90: rgba(11, 10, 19, 0.9);
    --color-light-1: #f7f3e8;
    --color-light-2: #efe6d8;
    --color-light-3: #e7d1b1;
    --color-light-4: #d0b8a3;
    --color-light-5: #9f8475;
    --color-light-6: #816b66;
    --color-level-error: #ce0707;
    --color-level-error-bg: rgba(105, 0, 8, 0.8);
    --color-level-error-border: #750003;
    --color-level-info: #59a1f6;
    --color-level-info-bg: rgba(47, 80, 132, 0.8);
    --color-level-info-border: #5c87b9;
    --color-level-success: #26b231;
    --color-level-success-bg: rgba(26, 107, 34, 0.8);
    --color-level-success-border: #1b8f23;
    --color-level-warning: #ee9b3a;
    --color-level-warning-bg: rgba(214, 150, 0, 0.8);
    --color-level-warning-border: #b18404;
    --color-scrollbar: #5d142b;
    --color-scrollbar-border: #8d151b;
}

/*      Party-sheet       
*************************/
.dark-party-theme.sheet.party form > header .frame-container .player-image {
    box-shadow: none;
}
.dark-party-theme.sheet.party.window-app .window-content {
    background: none;
    backdrop-filter: blur(5px);
}
.dark-party-theme.sheet.party form {
    background: none;
}
.dark-party-theme.sheet.party .sidebar {
    border: none;
}
.dark-party-theme.sheet.party form > header {
    color: var(--pfui-main-color) !important;
    background: radial-gradient(var(--primary-remaster), transparent);
    box-shadow: 0 0 6px inset var(--glass-bg-light-2);
    border-radius: var(--border-radius);
}
.dark-party-theme.sheet.party form > header .details .name {
    color: var(--pfui-main-color)!important;
    background: radial-gradient(var(--background-2), transparent);
    text-shadow: 0 0 8px var(--color-shadow-primary);
    border-radius: var(--border-radius);
}
.dark-party-theme.sheet.party form > header input[type=text]:not(:disabled):hover, .dark-party-theme.sheet.party form > header input[type=text]:focus, .dark-party-theme.sheet.party form > header input[type=number]:not(:disabled):hover, .dark-party-theme.sheet.party form > header input[type=number]:focus {
    border: none;
    text-shadow: 0 0 8px var(--color-shadow-primary);
    box-shadow: none;
}
.dark-party-theme.sheet.party nav.sub-nav {
    border: 1px dotted var(--background-2);
    background: radial-gradient(var(--primary-remaster), transparent);
    border-radius: var(--border-radius);
}
.dark-party-theme.sheet.party nav.sub-nav a.active, .dark-party-theme.sheet.party nav.sub-nav .tab.active {
    color: var(--green);
    text-shadow: 0 0 5px var(--color-shadow-primary);
}
.dark-party-theme.sheet.party nav.sub-nav a, .dark-party-theme.sheet.party nav.sub-nav .tab {
    color: var(--pfui-main-color);
    text-shadow: var(--text-shadow);
}
.dark-party-theme.sheet.party nav.sub-nav a:hover, .dark-party-theme.sheet.partynav.sub-nav .tab:hover {
    color: var(--green);
    text-shadow: 0 0 5px var(--color-shadow-primary);
}
.dark-party-theme.sheet.party [data-visibility]:not([data-visibility=all])[data-visibility=gm] {
    font-style: italic;
    color: var(--pfui-main-color);
    text-shadow: var(--text-shadow);
    background: var(--color-warm-3);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    border: none;
}
.dark-party-theme.sheet.party [data-visibility]:not([data-visibility=all]) {
    outline: none;
    padding: 2px;
}
.dark-party-theme.sheet.party [data-pf2-effect-area] {
    font-family: "Good OT";
    color: var(--pfui-main-color);
    text-shadow: var(--text-shadow);
    background: var(--color-warm-3);
    padding: 0px 3px;
    border: 1px solid var(--glassy);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.dark-party-theme.sheet.party a.inline-check[data-pf2-traits*=secret], 
.dark-party-theme.sheet.party span[data-pf2-check][data-pf2-traits*=secret] {
    font-family: "Good OT";
    color: var(--pfui-main-color);
    text-shadow: var(--text-shadow);
    background: var(--color-warm-3);
    padding: 0px 3px;
    border: 1px solid var(--glassy);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}	
.dark-party-theme.sheet.party a.inline-check, 
.dark-party-theme.sheet.party span[data-pf2-check] {
    font-family: "Good OT";
    color: var(--pfui-main-color);
    text-shadow: var(--text-shadow);
    background: var(--color-warm-3);
    padding: 0px 3px;
    border: 1px solid var(--glassy);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.dark-party-theme.sheet.party a.inline-check, 
.dark-party-theme.sheet.party span[data-pf2-action] {
    font-family: "Good OT";
    color: var(--pfui-main-color);
    text-shadow: var(--text-shadow);
    background: var(--color-warm-3);
    padding: 0px 3px;
    border: 1px solid var(--glassy);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.dark-party-theme.sheet.party a.content-link, 
.dark-party-theme.sheet.party a.inline-roll {
    font-family: "Good OT";
    color: var(--pfui-main-color);
    text-shadow: var(--text-shadow);
    background: var(--color-warm-3);
    padding: 0px 3px;
    border: 1px solid var(--glassy);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.dark-party-theme.sheet.party .item-image:hover i {
    background: var(--green);
    color: var(--background);
    box-shadow: 0 0 6px inset var(--glass-bg);
}




/*      Overview       
*************************/
.dark-party-theme.sheet.party [data-tab=overview] .summary {
    color: var(--pfui-main-color);
    background: radial-gradient(var(--primary-remaster), var(--glass-bg-dark));
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    border-image-source: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1{stroke:wheat;stroke-miterlimit:10}.st1,.st2{fill:none}%3C/style%3E%3Cg opacity='0.75'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zm3.1 3.1h3.1v3.1H3.6zm3.2 0h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zm0 0H.5V13M13 .5H6.8v3.1M29.4.5h3.1v3.1h-3.1zm-3.1 3.1h3.1v3.1h-3.1zm0 3.2h3.1v3.1h-3.1zm-3.2-3.2h3.1v3.1h-3.1zm3.2 0V.5H20M32.5 13V6.8h-3.1M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zm-3.2 0h3.1v3.1h-3.1zm3.2-3.2h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zm3.1-3.1h3.1v3.1H3.6zm0-3.2h3.1v3.1H3.6zm3.2 3.2h3.1v3.1H6.8zM6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.dark-party-theme.sheet.party [data-tab=overview] .summary nav button {
    color: var(--pfui-main-color);
    border: none;
    background: none;
    background-color: var(--glass-bg);
    transition: text-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out, border 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, backdrop-filter 0.15s ease-in-out, border-radius 0.15s;
    text-shadow: var(--text-shadow);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.dark-party-theme.sheet.party [data-tab=overview] .summary nav button:hover {
    color: var(--background);
    background: var(--green);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 0 2px rgba(0, 0, 0, 0.4);
    border-radius: var(--border-radius);
}
.dark-party-theme.sheet.party [data-tab=overview] .summary nav button.active {
    color: var(--pfui-main-color);
    border: none;
    background: radial-gradient(#0062ff, #171f69);
    transition: text-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out, border 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, backdrop-filter 0.15s ease-in-out, border-radius 0.15s;
    text-shadow: var(--text-shadow);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.dark-party-theme.sheet.party [data-tab=overview] .member {
    color: var(--pfui-main-color);
    border: 1px dotted var(--background-2);
    background: radial-gradient(var(--background-2), transparent);
    box-shadow: 0 0 6px inset var(--glass-bg-light-2);
    border-radius: var(--border-radius);
}
.dark-party-theme.sheet.party [data-tab=overview] .member > .data header .blurb {
    color: var(--pfui-main-color);
}
.dark-party-theme.sheet.party [data-tab=overview] .member > .data header .hero-points .empty {
    border: 2px dashed var(--green);
}
.dark-party-theme.sheet.party [data-tab=overview] .member .name .abc {
    color: var(--primary-light-remaster);
}
.dark-party-theme.sheet.party [data-tab=overview] .member > .data .main-stats .score label {
    color: var(--color-warm-1);
    text-shadow: var(--text-shadow);
}
.dark-party-theme.sheet.party .tag-light {
    color: var(--pfui-main-color);
    border: none;
    background: var(--tag-color);
    text-shadow: var(--text-shadow);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.dark-party-theme.sheet.party.window-app button:not(.tox-tbtn):hover {
    border: none;
    background: none;
    background-color: var(--green);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 0 2px rgba(0, 0, 0, 0.4);
    transition: text-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out, border 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, backdrop-filter 0.15s ease-in-out, border-radius 0.15s;
    text-shadow: var(--text-shadow);
    color: var(--background);
    border-radius: var(--border-radius);
}
.dark-party-theme.sheet.party [data-tab=overview] .member .main-stats .ac::before {
    color: var(--pfui-main-color);
    border: none;
    text-shadow: 0 0 3px var(--background-2);
}
.dark-party-theme.sheet.party [data-tab=overview] .member .main-stats .ac .value {
    color: var(--green);
}
.dark-party-theme.sheet.party [data-tab=overview] .member .main-stats .ac {
    box-shadow: none;
}
.dark-party-theme.sheet.party [data-tab=overview] .member .main-stats > section {
    color: var(--pfui-main-color);
    border: none;
    background: none;
    background-color: var(--glass-bg);
    box-shadow: var(--box-shadow);
    text-shadow: var(--text-shadow);
    border-radius: var(--border-radius);
}
.dark-party-theme.sheet.party .tags .tag.tag_alt, .dark-party-theme.sheet.party .tags .tag option.tag_alt {
    color: var(--pfui-main-color);
    border: none;
    background: none;
    background-color: var(--color-cool-4);
    text-shadow: var(--text-shadow);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.dark-party-theme.sheet.party [data-tab=overview] .member .name {
    color: var(--pfui-main-grey-color);
    border: none;
    background: none;
    background-color: var(--glass-bg);
    text-shadow: var(--text-shadow);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.dark-party-theme.sheet.party [data-tab=overview] .member .name a:hover {
    color: var(--green);
    text-shadow: var(--text-shadow);
}
.dark-party-theme.sheet.party [data-tab=overview] .member > .portrait .health-bar .bar {
    background-color: var(--red);
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
    color: var(--pfui-main-color);
    border: none;
    text-shadow: var(--text-shadow);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

/*     Exploration       
*************************/
.dark-party-theme.sheet.party .sidebar .box {
    border: none;
    background: none;
    background-color: var(--glass-bg);
    text-shadow: var(--text-shadow);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.dark-party-theme.sheet.party .tags .tag, 
.dark-party-theme.sheet.party .tags .tag option {
    color: var(--pfui-main-color);
    background: var(--color-cool-4);
    text-transform: uppercase;
    text-shadow: var(--text-shadow);
    border: none;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);

}
.dark-party-theme.sheet.party [data-tab=exploration] .exploration-members .member footer.health-bar .bar {
    background: none;
}
.dark-party-theme.sheet.party .sidebar .box header {
    color: var(--pfui-main-color);
    background: radial-gradient(var(--primary-remaster), var(--glass-bg-dark));
    box-shadow: var(--glassy-shadow);
    border-radius: var(--border-radius);
}
.dark-party-theme.sheet.party .sidebar .box-list {
    color: var(--pfui-main-color);
}
.dark-party-theme.sheet.party [data-tab=exploration] .activities .member-activity {
    color: var(--pfui-main-color);
    border: 1px dotted var(--background-2);
    background: radial-gradient(var(--background-2), transparent);
    border-radius: var(--border-radius);
}
.dark-party-theme.sheet.party [data-tab=exploration] .activities .member-activity .empty .name {
    color: var(--green);
}
.dark-party-theme.sheet.party [data-tab=exploration] .activities .member-activity .empty .hint {
    color: var(--pfui-main-color);
}
.dark-party-theme.sheet.party header.content-header {
    color: var(--pfui-main-color);
    background: radial-gradient(var(--primary-remaster), var(--glass-bg-dark));
    border: none;
    text-shadow: var(--text-shadow);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    backdrop-filter: blur(5px);
}
.dark-party-theme.sheet.party header.content-header button {
    color: var(--pfui-main-color);
    border: none;
    background: none;
    background-color: var(--glass-bg);
    transition: text-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out, border 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, backdrop-filter 0.15s ease-in-out, border-radius 0.15s;
    text-shadow: var(--text-shadow);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.dark-party-theme.sheet.party header.content-header button:hover {
    color: var(--background);
    background: var(--green);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 0 2px rgba(0, 0, 0, 0.4);
    transition: text-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out, border 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, backdrop-filter 0.15s ease-in-out, border-radius 0.15s;
    border-radius: var(--border-radius);
}
.dark-party-theme.sheet.party [data-tab=exploration] .activities .member-activity .empty .icon {
    border: 1px dashed var(--green);
}

/*        Stash       
*************************/
.dark-party-theme.sheet.party .sidebar .box footer {

    color: var(--pfui-main-color);
    border: none;
    background-color: var(--sub);
    transition: text-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out, border 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, backdrop-filter 0.15s ease-in-out, border-radius 0.15s;
    text-shadow: var(--text-shadow);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.dark-party-theme.sheet.party .inventory .inventory-header {
    color: var(--pfui-main-color);
    background: radial-gradient(var(--primary-remaster), var(--glass-bg-dark));
    border: none;
    text-shadow: var(--text-shadow);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    backdrop-filter: blur(5px);
}
.dark-party-theme.sheet.party.actor.sheet .inventory .inventory-items {
    border: none;
}
.dark-party-theme.sheet.party.actor.sheet .window-content .inventory .inventory-list > header, 
.dark-party-theme.sheet.party.actor.sheet .window-content .inventory .total-bulk {
    color: var(--pfui-main-color);
    background: linear-gradient(45deg, var(--color-cool-4), var(--color-cool-5-75));
    border: 1px dotted rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 6px inset var(--glass-bg-light-2);
    text-shadow: var(--text-shadow);
}
.dark-party-theme.sheet.party .currency {
    color: var(--pfui-main-color);
    border: none;
    background: none;
    background-color: var(--glass-bg);
    text-shadow: var(--text-shadow);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.dark-party-theme.sheet.party.actor.sheet .window-content .inventory ul.items > li > .data .item-name h4:not(:hover).rarity-common {
    border-color: var(--rarity-common);
    color: var(--rarity-common);
}
.dark-party-theme.sheet.party.actor.sheet .window-content .inventory ul.items > li > .data .item-name h4:not(:hover).rarity-uncommon {
    border-color: var(--rarity-uncommon);
    color: var(--rarity-uncommon);
}
.dark-party-theme.sheet.party.actor.sheet .window-content .inventory ul.items > li > .data .item-name h4:not(:hover).rarity-rare {
    border-color: var(--rarity-rare);
    color: var(--rarity-rare);
}
.dark-party-theme.sheet.party.actor.sheet .window-content .inventory ul.items > li > .data .item-name h4:not(:hover).rarity-unique {
    border-color: var(--rarity-unique);
    color: var(--rarity-unique);
}
.dark-party-theme.sheet.party.actor.sheet .window-content .inventory ul.items > li > .data .item-name h4.rarity-common:hover {
    color: var(--green)!important;
}

.dark-party-theme.sheet.party.actor.sheet .window-content .inventory ul.items > li > .data .item-name h4.rarity-uncommon:hover {
    color: var(--green)!important;
}

.dark-party-theme.sheet.party.actor.sheet .window-content .inventory ul.items > li > .data .item-name h4.rarity-rare:hover {
    color: var(--green)!important;
}

.dark-party-theme.sheet.party.actor.sheet .window-content .inventory ul.items > li > .data .item-name h4.rarity-unique:hover {
    color: var(--green)!important;
}
.dark-party-theme.sheet.party .currency li > button {
    color: var(--pfui-main-color);
    border: none;
    background: none;
    background-color: var(--glass-bg);
    transition: text-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out, border 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, backdrop-filter 0.15s ease-in-out, border-radius 0.15s;
    text-shadow: var(--text-shadow);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.dark-party-theme.sheet.party .currency li > button:hover:not(:disabled) {
    color: var(--background) !important;
    background: var(--green)!important;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 0 2px rgba(0, 0, 0, 0.4);
}
.dark-party-theme.sheet.party .wealth {
    border: none;
    background: none;
    background-color: var(--glass-bg);
    text-shadow: var(--text-shadow);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.dark-party-theme.sheet.party .wealth h3.item-name {
    color: var(--pfui-main-color);
}
.dark-party-theme.sheet.party.actor.sheet .inventory .item-name h3:hover, .dark-party-theme.sheet.party.actor.sheet .inventory .item-name h4:hover {
    color: var(--green);
}
.dark-party-theme.sheet.party .currency .denomination {
    color: var(--pfui-main-color);
}
.dark-party-theme.sheet.party .currency .label {
    color: var(--green);
}
.dark-party-theme.sheet.party.actor.sheet .inventory ol:not(.currency) {
    color: var(--pfui-main-color);
}
.dark-party-theme.sheet.party.actor.sheet .inventory .list-row .item-controls {
    color: var(--green);
}
.dark-party-theme.sheet.party.actor.sheet .window-content .inventory ul.items {
    border: 1px solid var(--color-cool-5);
    color: var(--pfui-main-grey-color);
}
.dark-party-theme.sheet.party.actor.sheet .inventory .item-summary {
    background: none;
    color: var(--pfui-main-grey-color);
}
.dark-party-theme.sheet.party [data-tab=overview] .summary nav label {
    color: var(--color-warm-1);
    text-shadow: var(--text-shadow);
}
.dark-party-theme.sheet.party .window-resizable-handle {
    color: var(--color-warm-1);
    background: radial-gradient(var(--primary-remaster), var(--glass-bg-dark));
    text-shadow: var(--text-shadow);
    border: none;
    box-shadow: var(--glassy-shadow);
    border-radius: var(--border-radius);
}
.dark-party-theme.sheet.party .inventory .inventory-header h3:hover {
    color: var(--green);
    text-shadow: var(--text-shadow);
}



/* PF2e Party Sheet Helper
*******************************/
.dark-party-theme.sheet.party .dark input, .dark select {
    color: var(--green);
    border: none;
    background: none;
    background-color: var(--glass-bg);
    text-shadow: var(--text-shadow);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.dark-party-theme.sheet.party option, 
.dark-party-theme.sheet.party optgroup {
    color: var(--pfui-main-color);
    background-color: var(--glass-bg-dark);
}
.dark-party-theme .subsystem-list > li.folder.collapsed > .folder-header {
    background: radial-gradient(var(--primary-remaster), var(--glass-bg-dark));
    border: none;
    box-shadow: var(--glassy-shadow);
    border-radius: var(--border-radius);
    backdrop-filter: blur(5px);
}
.dark-party-theme .subsystem-list > li.folder:not(.collapsed) > .folder-header {
    background: radial-gradient(var(--primary-light-remaster), var(--glass-bg-dark));
    border: none;
    box-shadow: var(--glassy-shadow);
    border-radius: var(--border-radius);
    backdrop-filter: blur(5px);
}
.dark-party-theme .directory.subsystem-section .directory-item {
    color: var(--color-warm-1);
    text-shadow: var(--text-shadow);
    border: none;
    box-shadow: var(--glassy-shadow);
    border-radius: var(--border-radius);
    backdrop-filter: blur(5px)
}
.dark-party-theme li.folder.collapsed > .folder-header h3 {
    color: var(--pfui-main-color);
    text-shadow: var(--text-shadow);
}
.dark-party-theme li.folder > .folder-header h3 {
    color: var(--green);
    text-shadow: var(--text-shadow);
}
.dark-party-theme li.folder.collapsed > .folder-header h3:hover {
    color: var(--green);
    text-shadow: var(--text-shadow);
}



/*monks-pf2e-encounter-aftermath
*******************************/
/* https://github.com/ironmonk88/monks-pf2e-encounter-aftermath */
.dark-party-theme.sheet.party [data-tab=aftermath] .activities .member-activity {
    color: var(--pfui-main-color);
    border: 1px dotted var(--background-2);
    background: radial-gradient(var(--background-2), transparent);
    border-radius: var(--border-radius);
}
.dark-party-theme.sheet.party [data-tab=aftermath] .activities .member-activity .empty .icon {
    border: 1px dashed var(--green);
}
.dark-party-theme.sheet.party [data-tab=aftermath] .activities .member-activity .empty .name {
    color: var(--green);
}
.dark-party-theme.sheet.party [data-tab=aftermath] .activities .member-activity .empty .hint {
    color: var(--pfui-main-color);
}
.dark-party-theme.sheet.party [data-tab=aftermath] .activities .member-activity .activity-entries .activity .time .time-options {
    border: 1px dashed var(--green);
}
.dark-party-theme.sheet.party [data-tab=aftermath] .activities .member-activity .run-actions button {
    border: 1px solid var(--color-border-light-secondary);
    --secondary: var(--color-cool-3);
    background: var(--secondary);
    box-shadow: var(--box-shadow);
    text-shadow: var(--text-shadow);
    color: var(--pfui-main-color);
}
.dark-party-theme.sheet.party [data-tab=aftermath] .activities .member-activity .activity-entries .run-actions button:hover:disabled {
    border: none;
    background: none;
    background-color: var(--green)!important;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 0 2px rgba(0, 0, 0, 0.4);
    transition: text-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out, border 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, backdrop-filter 0.15s ease-in-out, border-radius 0.15s;
    text-shadow: var(--text-shadow);
    color: var(--background);
    border-radius: var(--border-radius);
}
.dark-party-theme.sheet.party [data-tab=aftermath] .activities .member-activity .hint {
    color: var(--pfui-main-color);
}
.dark-party-theme.sheet.party [data-tab=aftermath] .activities .member-activity .hint:hover {
    color: var(--red-light);
}