/* A bunch of disgusting CSS overrides that hit the system's CSS like a hammer to remove as much colour as possible */

.dark-hazard-theme {
    --pfui-main-color: #cfbda7;
    --pfui-main-grey-color: #98968a;
    --green: #91a82a;
    --blue: #171f69;
    --red: #5e0000;
    --red-light:#ff0000;
    --custom-trait:#61180e;
    --border-radius: 3px;
    --background: #100d0d;
    --background-2: #ffffff14;
    --highlight: 0 0 0 1px var(--pfui-main-color), 0 0 0 2px #93d1d3, inset 0 0 4px rgba(255, 255, 255, 0.25);
    --glass-bg: rgba(20, 20, 20, 0.6);
    --glass-bg-light: rgba(255, 255, 255, 0.1);
    --glass-bg-light-2: #3f342b;
    --glass-bg-dark: rgba(0, 0, 0, 0.7);
    --glassy: 0px 0px 3px 0px rgba(255, 255, 255, 0.4) inset, 0px 0px 2px 1px rgba(0, 0, 0, 1), 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    --glassy-sharp: 0px 0px 0px 1px rgba(255, 255, 255, 0.4) inset, 0px 0px 5px 1px rgba(0, 0, 0, 0.8);
    --glassy-sharp-highlight: 0px 0px 0px 1px rgba(245, 222, 179, 0.7) inset, 0px 0px 5px 1px rgba(0, 0, 0, 0.8);
	--primary-remaster: hsl(153, 100%, 8%);
	--primary-light-remaster: hsl(170, 96%, 19%);
    --ornement : url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1{stroke:wheat;stroke-miterlimit:10}.st1,.st2{fill:none}%3C/style%3E%3Cg opacity='0.75'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zm3.1 3.1h3.1v3.1H3.6zm3.2 0h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zm0 0H.5V13M13 .5H6.8v3.1M29.4.5h3.1v3.1h-3.1zm-3.1 3.1h3.1v3.1h-3.1zm0 3.2h3.1v3.1h-3.1zm-3.2-3.2h3.1v3.1h-3.1zm3.2 0V.5H20M32.5 13V6.8h-3.1M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zm-3.2 0h3.1v3.1h-3.1zm3.2-3.2h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zm3.1-3.1h3.1v3.1H3.6zm0-3.2h3.1v3.1H3.6zm3.2 3.2h3.1v3.1H6.8zM6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    

    --primary: var(--red);
    --secondary: var(--blue);
    --tertiary: var(--pfui-main-color);
    --tertiary-dark: var(--pfui-main-color);
    --tertiary-light: var(--pfui-main-color);
    --body: var(--pfui-main-color);
    --text-dark: var(--pfui-main-color);
    --text-light: var(--pfui-main-color);
    --sidebar-label: var(--pfui-main-color);
    --sidebar-title: var(--pfui-main-color);
    
    --alt: #786452;
    --sub: var(--background);

    --rarity-common: #7e7e7e;
    --rarity-uncommon: #ff6400;
    --rarity-rare: #0062ff;
    --rarity-unique: #e127e1;
    
/* Foundry2
====================================================== */
--color-warm-1: #ee9b3a;
--color-warm-2: #c9593f;
--color-warm-3: #5d142b;
--color-cool-3: #584a75;
--color-cool-4: #302831;
--color-cool-5: #0b0a13;
--color-cool-5-25: rgba(11, 10, 19, 0.25);
--color-cool-5-50: rgba(11, 10, 19, 0.5);
--color-cool-5-75: rgba(11, 10, 19, 0.75);
--color-cool-5-90: rgba(11, 10, 19, 0.9);
--color-light-1: #f7f3e8;
--color-light-2: #efe6d8;
--color-light-3: #e7d1b1;
--color-light-4: #d0b8a3;
--color-light-5: #9f8475;
--color-light-6: #816b66;
--color-level-error: #ce0707;
--color-level-error-bg: rgba(105, 0, 8, 0.8);
--color-level-error-border: #750003;
--color-level-info: #59a1f6;
--color-level-info-bg: rgba(47, 80, 132, 0.8);
--color-level-info-border: #5c87b9;
--color-level-success: #26b231;
--color-level-success-bg: rgba(26, 107, 34, 0.8);
--color-level-success-border: #1b8f23;
--color-level-warning: #ee9b3a;
--color-level-warning-bg: rgba(214, 150, 0, 0.8);
--color-level-warning-border: #b18404;
--color-scrollbar: #5d142b;
--color-scrollbar-border: #8d151b;
}


/************************/
/*     Hazard-sheet     */
/************************/

.dark-hazard-theme.sheet.hazard .window-content {
    color: var(--pfui-main-color);
    background: none;
    box-shadow: none;
    margin: unset;
    backdrop-filter: blur(5px);
}
.dark-hazard-theme.sheet.hazard form > header {
    background: radial-gradient(var(--primary-remaster), var(--glass-bg-dark));
}
.dark-hazard-theme.sheet.hazard .sidebar .armor-class input {
    color: var(--color-warm-1);
}
.dark-hazard-theme.sheet.hazard .sidebar .health input {
    color: var(--color-warm-1);
}
.dark-hazard-theme.sheet.hazard .sidebar .sidebar-saves input {
    color: var(--color-warm-1);
}
.dark-hazard-theme.sheet.hazard input[type=text], .dark-hazard-theme.sheet.hazard input[type=number] {
    color: var(--color-warm-1);
}
.dark-hazard-theme.sheet.hazard .sidebar .initiative .roll-init {
    color: var(--green);
    font-size: var(--font-size-16);
    text-transform: uppercase;
}
.dark-hazard-theme.sheet.hazard .sidebar .initiative .roll-init i {
    color: var(--green);
}
.dark-hazard-theme.sheet.hazard .sidebar .valued-icon {
    color: var(--rarity-common);
    border: none;
    background: none;
    background-color: var(--glass-bg);
    box-shadow: var(--box-shadow);
    text-shadow: 0 0 3px black;
    border-radius: var(--border-radius);
}
.dark-hazard-theme.sheet.hazard .sidebar .sidebar-saves h2 {
    color: var(--green);
    font-size: var(--font-size-16);
    text-transform: uppercase;
}
.dark-hazard-theme.sheet.hazard .section-container .section-header h4 {
    color: var(--green);
}
.dark-hazard-theme.sheet.hazard .section-container .section-header {
    color: var(--pfui-main-color);
    background: radial-gradient(var(--primary-remaster), var(--glass-bg-dark));
    border: none;
    box-shadow: var(--box-shadow);
    text-shadow: 0 0 1px black;
    border-radius: var(--border-radius);
    backdrop-filter: blur(5px);
}
.dark-hazard-theme.sheet.hazard form > header .title .name {
    color: var(--pfui-main-color);
    text-shadow: 0 0 8px var(--color-shadow-primary);
}
.dark-hazard-theme.sheet.hazard .section-container .section-body {
    color: var(--pfui-main-color);
    border: none;
    background: none;
    box-shadow: 0 0 6px inset var(--glass-bg-light-2);
    border-radius: var(--border-radius);
}
.dark-hazard-theme.sheet.hazard .tags .tag, .dark-hazard-theme.sheet.hazard .tags .tag option {
    color: var(--pfui-main-color);
    text-transform: uppercase;
    border: 1px solid black;
    box-shadow: var(--box-shadow);
    text-shadow: 0 0 1px black;
    border-radius: var(--border-radius);
}
.dark-hazard-theme.sheet.hazard .actions-list li.action .button-group button, .dark-hazard-theme.sheet.hazard .actions-list li.attack .button-group button, .dark-hazard-theme.sheet.hazard .attacks-list li.action .button-group button, .dark-hazard-theme.sheet.hazard .attacks-list li.attack .button-group button {
    color: var(--pfui-main-color);
    text-transform: uppercase;
    border: 1px solid black;
    box-shadow: var(--box-shadow);
    text-shadow: 0 0 1px black;
    border-radius: var(--border-radius);
}
.dark-hazard-theme.sheet.hazard .tags.paizo-style tag, .dark-hazard-theme.sheet.hazard .tags.paizo-style .tag, .dark-hazard-theme.sheet.hazard .tags.paizo-style select.tag {
    color: var(--pfui-main-color);
    text-transform: uppercase;
    border: 1px solid black;
    box-shadow: var(--box-shadow);
    text-shadow: 0 0 1px black;
    border-radius: var(--border-radius);
}
.dark-hazard-theme.sheet.hazard form > header .frame-container .edit-mode-button {
    color: var(--color-warm-1);
    box-shadow: 0 0 0 1px var(--color-warm-2), 0 0 0 2px var(--color-warm-3);
    background-color: var(--color-cool-5-90);
}
.dark-hazard-theme.sheet.hazard form > header .frame-container .image-container [data-action=show-image] {
    color: var(--color-warm-1);
    box-shadow: 0 0 0 1px var(--color-warm-2), 0 0 0 2px var(--color-warm-3);
    background-color: var(--color-cool-5-90);
}
.dark-hazard-theme.sheet.hazard .sidebar .emits-sound select {
    color: var(--pfui-main-color);
    text-transform: uppercase;
    border: 1px solid black;
    box-shadow: var(--box-shadow);
    text-shadow: 0 0 1px black;
    background-color: var(--color-cool-4);
    border-radius: var(--border-radius);
}
.dark-hazard-theme.sheet.hazard option, .dark-hazard-theme.sheet.hazard optgroup {
    background: var(--background);
}
.dark-hazard-theme.sheet.hazard .sidebar {
    border:none;
}
.dark-hazard-theme.sheet.hazard [data-visibility]:not([data-visibility=all])[data-visibility=gm] {
    font-style: italic;
    color: var(--pfui-main-color);
    background: var(--color-warm-3);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    border: none;
}
.dark-hazard-theme.sheet.hazard [data-visibility]:not([data-visibility=all]) {
    outline: none;
    padding: 2px;
}
.dark-hazard-theme.sheet.hazard [data-pf2-effect-area] {
    font-family: "Good OT";
    color: var(--pfui-main-color);
    background: var(--custom-trait);
    padding: 0px 3px;
    border: 1px solid var(--glassy);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.dark-hazard-theme.sheet.hazard a.inline-check[data-pf2-traits*=secret], .dark-hazard-theme.sheet.hazard span[data-pf2-check][data-pf2-traits*=secret] {
    font-family: "Good OT";
    color: var(--pfui-main-color);
    background: var(--custom-trait);
    padding: 0px 3px;
    border: 1px solid var(--glassy);
    border-radius: var(--border-radius);
}	
.dark-hazard-theme.sheet.hazard a.inline-check, .dark-hazard-theme.sheet.hazard span[data-pf2-check] {
    font-family: "Good OT";
    color: var(--pfui-main-color);
    background: var(--custom-trait);
    padding: 0px 3px;
    border: 1px solid var(--glassy);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.dark-hazard-theme.sheet.hazard a.inline-check, .dark-hazard-theme.sheet.hazard span[data-pf2-action] {
    font-family: "Good OT";
    color: var(--pfui-main-color);
    background: var(--custom-trait);
    padding: 0px 3px;
    border: 1px solid var(--glassy);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.dark-hazard-theme.sheet.hazard a.content-link, .dark-hazard-theme.sheet.hazard a.inline-roll {
    font-family: "Good OT";
    color: var(--pfui-main-color);
    background: var(--custom-trait);
    padding: 0px 3px;
    border: 1px solid var(--glassy);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.dark-hazard-theme.sheet.hazard .section-container.publication .section-body .license select {
    color: var(--pfui-main-color);
    text-transform: uppercase;
    border: 1px solid black;
    background-color: var(--glass-bg);
    box-shadow: var(--box-shadow);
    text-shadow: 0 0 1px black;
    border-radius: var(--border-radius);
}
.dark-hazard-theme.sheet.hazard .section-container.publication .section-body input[type="checkbox"]:checked, input[type="radio"]:checked {
    accent-color: var(--green);
}


/*        Glassy       
*************************/
.glassy.dark-hazard-theme.sheet.hazard .window-content {
    backdrop-filter: none;
}
.glassy.dark-hazard-theme.sheet.hazard .container {
    padding: 0px 0px 0px 5px;
}
.glassy.dark-hazard-theme.sheet.hazard .section-container {
    padding: 5px 0px 5px;
}
.glassy.dark-hazard-theme.sheet.hazard .section-container .section-header {
    backdrop-filter: blur(5px);
}
.system-pf2e .glassy.dark-hazard-theme.sheet.hazard:not(.loot-sheet-npc) {
    background: none;
    box-shadow: none;
    border: none;
}
.glassy.dark-hazard-theme.sheet.hazard .window-header {
    box-shadow: var(--box-shadow);
       background-color: var(--color-cool-5-90);
    border-radius: var(--border-radius);
    margin: 0px 10px;
    backdrop-filter: blur(5px);
    text-shadow: 0 0 8px var(--color-shadow-primary);
}
.glassy.dark-hazard-theme.sheet.hazard form > header {
    box-shadow: var(--box-shadow);
    background: radial-gradient(var(--primary-remaster), var(--glass-bg-dark));
    border-radius: var(--border-radius);
    width: 97%;
    margin: 10px 10px;
    backdrop-filter: blur(5px);
    text-shadow: 0 0 8px var(--color-shadow-primary);
}
.glassy.dark-hazard-theme.sheet.hazard .npc-sheet-header {
    --color-text-dark-input: var(--color-text-light-heading);
    box-shadow: var(--box-shadow);
    background: var(--glass-bg);
    border-radius: var(--border-radius);
    margin: 5px;
    padding: 2px 5px;
    backdrop-filter: blur(5px);
}
.glassy.dark-hazard-theme.sheet.hazard .sidebar {
    box-shadow: var(--box-shadow);
       background-color: var(--color-cool-5-90);
    border-radius: var(--border-radius);
    margin: 5px 5px;
    backdrop-filter: blur(5px);
}
.glassy.dark-hazard-theme.sheet.hazard .section-container .section-body {
    color: var(--pfui-main-color);
    border: none;
    background: none;
       background-color: var(--color-cool-5-90);
    box-shadow: var(--box-shadow);
    text-shadow: 0 0 1px black;
    border-radius: var(--border-radius);
    backdrop-filter: blur(5px);
}
.glassy.dark-hazard-theme.sheet.hazard .window-resizable-handle i.fas {
    color: var(--green);
       background-color: var(--color-cool-5-90);
}
.glassy.dark-hazard-theme.sheet.hazard .window-resizable-handle {
    background: none;
    border: none;
}