/* A bunch of disgusting CSS overrides that hit the system's CSS like a hammer to remove as much colour as possible */

.dark-theme {
    --alternate-background: darkgrey;
    --pfui-main-color: #cfbda7;
    --pfui-main-grey-color: #98968a;
    --green: #91a82a;
    --blue: #171f69;
    --red: #5e0000;
    --red-light:#ff0000;
    --custom-trait:#61180e;
    --background: #100d0d;
    --background-2: #ffffff14;
    --highlight: 0 0 0 1px var(--pfui-main-color), 0 0 0 2px #93d1d3, inset 0 0 4px rgba(255, 255, 255, 0.25);
    --glass-bg: rgba(20, 20, 20, 0.6);
    --glass-bg-light: rgba(255, 255, 255, 0.1);
    --glass-bg-light-2: #3f342b;
    --glass-bg-dark: rgba(0, 0, 0, 0.7);
    --glassy: 0px 0px 3px 0px rgba(255, 255, 255, 0.4) inset, 0px 0px 2px 1px rgba(0, 0, 0, 1), 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    --glassy-sharp: 0px 0px 0px 1px rgba(255, 255, 255, 0.4) inset, 0px 0px 5px 1px rgba(0, 0, 0, 0.8);
    --glassy-sharp-highlight: 0px 0px 0px 1px rgba(245, 222, 179, 0.7) inset, 0px 0px 5px 1px rgba(0, 0, 0, 0.8);
	--primary-remaster: hsl(153, 100%, 8%);
	--primary-light-remaster: hsl(170, 96%, 19%);
    --ornement : url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1{stroke:wheat;stroke-miterlimit:10}.st1,.st2{fill:none}%3C/style%3E%3Cg opacity='0.75'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zm3.1 3.1h3.1v3.1H3.6zm3.2 0h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zm0 0H.5V13M13 .5H6.8v3.1M29.4.5h3.1v3.1h-3.1zm-3.1 3.1h3.1v3.1h-3.1zm0 3.2h3.1v3.1h-3.1zm-3.2-3.2h3.1v3.1h-3.1zm3.2 0V.5H20M32.5 13V6.8h-3.1M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zm-3.2 0h3.1v3.1h-3.1zm3.2-3.2h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zm3.1-3.1h3.1v3.1H3.6zm0-3.2h3.1v3.1H3.6zm3.2 3.2h3.1v3.1H6.8zM6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    --primary: var(--red);
    --secondary: var(--blue);
    --tertiary: var(--pfui-main-color);
    --tertiary-dark: var(--pfui-main-color);
    --tertiary-light: var(--pfui-main-color);
    --body: var(--pfui-main-color);
    --text-dark: var(--pfui-main-color);
    --text-light: var(--pfui-main-color);
    --sidebar-label: var(--pfui-main-color);
    --sidebar-title: var(--pfui-main-color);
    
    --border-radius: 3px;
    --border-radius-5: 5px;
    --box-shadow: 0px 1px 3px 1px black;
    --text-shadow: 0px 1px 2px black;

    --alt: #786452;
    --sub: var(--background);

    /*--rarity-common: #7e7e7e;*/
    --rarity-common: var(--color-cool-1);
    --rarity-uncommon: #ff6400;
    --rarity-rare: #0062ff;
    --rarity-unique: #e127e1;
    
/* Foundry2
====================================================== */
    --color-warm-1: #ee9b3a;
    --color-warm-2: #c9593f;
    --color-warm-3: #5d142b;
    --color-warm-4: #420418;
    --color-warm-5: #26020d;
    --color-cool-1: #b1a0d4;
    --color-cool-2: #79689c;
    --color-cool-3: #584a75;
    --color-cool-4: #302831;
    --color-cool-5: #0b0a13;
    --color-cool-5-25: rgba(11, 10, 19, 0.25);
    --color-cool-5-50: rgba(11, 10, 19, 0.5);
    --color-cool-5-75: rgba(11, 10, 19, 0.75);
    --color-cool-5-90: rgba(11, 10, 19, 0.9);
    --color-light-1: #f7f3e8;
    --color-light-2: #efe6d8;
    --color-light-3: #e7d1b1;
    --color-light-4: #d0b8a3;
    --color-light-5: #9f8475;
    --color-light-6: #816b66;
    --color-level-error: #ce0707;
    --color-level-error-bg: rgba(105, 0, 8, 0.8);
    --color-level-error-border: #750003;
    --color-level-info: #59a1f6;
    --color-level-info-bg: rgba(47, 80, 132, 0.8);
    --color-level-info-border: #5c87b9;
    --color-level-success: #26b231;
    --color-level-success-bg: rgba(26, 107, 34, 0.8);
    --color-level-success-border: #1b8f23;
    --color-level-warning: #ee9b3a;
    --color-level-warning-bg: rgba(214, 150, 0, 0.8);
    --color-level-warning-border: #b18404;
    --color-scrollbar: #5d142b;
    --color-scrollbar-border: #8d151b;
}



/* Remaster PC Sheet
*************************/
.actor.sheet.dark-theme section.window-content .crb-style aside {
	background-image: url("../css/assets/remaster-pc-sheet/dark_green_sidebar_top.webp"), url("../css/assets/remaster-pc-sheet/dark_green_sidebar_bottom.webp") ;
}
.actor.sheet.dark-theme section.window-content .crb-style aside .sidebar .hitpoints .hp-big .container.current-hp {
	background-image: linear-gradient(90deg, var(--primary-remaster) 0%, var(--primary-light-remaster) 50%, var(--primary-remaster) 100%);
	background-color: var(--primary-remaster);
}
.actor.sheet.dark-theme section.window-content .crb-style aside .sidebar .armor-class .shield.hp {
	background: url("../css/assets/remaster-pc-sheet/shield-blue.webp") no-repeat top center;
}
.actor.sheet.dark-theme section.window-content .crb-style aside .sidebar select {
    background-color: var(--glass-bg);
}
.actor.sheet.dark-theme section.window-content .crb-style header.char-header .char-level .level {
	background: url("../css/assets/remaster-pc-sheet/level-badge.webp") no-repeat;
}
.actor.sheet.dark-theme section.window-content .crb-style aside .logo {
    filter: drop-shadow(1px 2px 5px var(--green)) grayscale(0.75);
}
.actor.character.dark-theme section.window-content .crb-style aside .sidebar .tags .tag.edit-btn {
    color: var(--pfui-main-color);
    background: var(--background);
    box-shadow: inset 0 0 0 1px var(--pfui-main-color);
}
.actor.character.dark-theme .image-container [data-action=show-image] {
    color: var(--color-warm-1);
    box-shadow: 0 0 0 1px var(--color-warm-2), 0 0 0 2px var(--color-warm-3);
    background-color: var(--color-cool-5-90);
}
.actor.character.dark-theme .crb-style select option {
    background: var(--color-cool-5);
    box-shadow: var(--box-shadow);
    border: none;
    color: var(--pfui-main-color);
    border-radius: var(--border-radius);
}
.actor.sheet.dark-theme [data-visibility]:not([data-visibility=all])[data-visibility=gm] {
    font-style: italic;
    color: var(--pfui-main-color);
    background: var(--color-warm-3);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    border: none;
}
.actor.sheet.dark-theme [data-visibility]:not([data-visibility=all]) {
    outline: none;
    padding: 2px;
}
.actor.sheet.dark-theme [data-pf2-effect-area] {
    font-family: "Good OT";
    color: var(--pfui-main-color);
    background: var(--custom-trait);
    padding: 0px 3px;
    border: 1px solid var(--glassy);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.actor.sheet.dark-theme a.inline-check[data-pf2-traits*=secret], .actor.sheet.dark-theme span[data-pf2-check][data-pf2-traits*=secret] {
    font-family: "Good OT";
    color: var(--pfui-main-color);
    background: var(--custom-trait);
    padding: 0px 3px;
    border: 1px solid var(--glassy);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}	
.actor.sheet.dark-theme a.inline-check, .actor.sheet.dark-theme span[data-pf2-check] {
    font-family: "Good OT";
    color: var(--pfui-main-color);
    background: var(--custom-trait);
    padding: 0px 3px;
    border: 1px solid var(--glassy);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.actor.sheet.dark-theme a.inline-check, .actor.sheet.dark-theme span[data-pf2-action] {
    font-family: "Good OT";
    color: var(--pfui-main-color);
    background: var(--custom-trait);
    padding: 0px 3px;
    border: 1px solid var(--glassy);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.actor.sheet.dark-theme a.content-link, .actor.sheet.dark-theme a.inline-roll {
    font-family: "Good OT";
    color: var(--pfui-main-color);
    background: var(--custom-trait);
    padding: 0px 3px;
    border: 1px solid var(--glassy);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}



/* Common code
**************************/
/*      Character       
*************************/

.actor.sheet.dark-theme .crb-style aside .sidebar a.roll-icon svg path {
    fill: var(--green);
}
.actor.sheet.dark-theme .crb-style aside .sidebar ol.tags li {
    box-shadow: unset;
    background-color: var(--glass-bg);
    border: 1px solid #956d58;
}
.actor.sheet.dark-theme .crb-style .stroke-header svg {
    fill: none;
}
.actor.sheet.dark-theme .crb-style .details-label {
    color: var(--alternate-background);
}
.actor.sheet.dark-theme .crb-style .sheet-body .sheet-content h3.header {
    border: none;
}
.actor.sheet.dark-theme .crb-style aside .sidebar_title h2 {
    color: var(--alternate-background);
}
.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.character .subsection.attributes ul .abbreviation {
    color: var(--primary-light-remaster);
}
.actor.sheet.dark-theme hr {
    border-bottom: none;
    border-top: 2px dotted;
    border-color: var(--color-cool-5-50);
}

.actor.sheet.dark-theme .crb-style nav.sheet-navigation {
    background: radial-gradient(var(--primary-light-remaster), transparent)!important;
    border: none;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    backdrop-filter: blur(5px);
    margin: 0px;
}

.sheet.actor.character.dark-theme .actor-image {
    box-shadow: none !important;
    filter: unset;
}

.sheet.actor.character.dark-theme .symbol {
    box-shadow: none !important;
    background: radial-gradient(var(--background-2), transparent);
}

.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.character .pc h3 {
    background: radial-gradient(var(--background-2), transparent);
}

.sheet.actor.character.dark-theme .crb-style .sheet-body .sheet-content ol.directory-list .action-header {
    color: var(--pfui-main-color) !important;
    background: var(--background);
    box-shadow: 0 0 6px inset var(--glass-bg-light-2)!important;
}

.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.character .subsection.attributes ul h3.modifier {
    background: radial-gradient(var(--primary-remaster), transparent)!important;
    color: darkgray!important;
    border-image-source: var(--ornement);
}

.sheet.actor.character.dark-theme .crb-style .sheet-body .sheet-content ol.directory-list .action-header h3 input.item-name-input {
    color: var(--pfui-main-color);
    text-shadow: var(--text-shadow);
}

.sheet.actor.character.dark-theme .item-name {
    color: var(--pfui-main-color);
    background: radial-gradient(var(--background-2), transparent);
    text-shadow: none;
}
.sheet.actor.character.dark-theme .item-name:hover {
    color: var(--green);
}

.sheet.actor.character.dark-theme .crb-style .sheet-body .sheet-content .tab.inventory .wealth {
    color: var(--pfui-main-color);
    background: var(--background);
    box-shadow: none;
}

.sheet.actor.character.dark-theme .crb-style .sheet-body .sheet-content .tab.inventory .inventory-header {
    color: var(--pfui-main-color);
    background: radial-gradient(var(--primary-light-remaster), transparent)!important;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    margin: 5px 2px;
    backdrop-filter: blur(5px);
    padding: 0px;
}

.sheet.actor.character.dark-theme .currency {
    box-shadow: none;
}

.sheet.actor.character.dark-theme .currency li {
    color: var(--pfui-main-color);
    background: var(--background);
    text-shadow: none;
}

.sheet.actor.character.dark-theme .inventory .inventory-header {
    color: var(--pfui-main-color);
    background: var(--background);
}

.sheet.actor.character.dark-theme .window-content {
    color: var(--pfui-main-color);
    background: none;
    backdrop-filter: blur(5px);
}
.sheet.actor.character.dark-theme section.window-content .crb-style aside .sidebar header button {
    background: unset;
}
.sheet.actor.character.dark-theme button {
    color: var(--pfui-main-color) !important;
    border-color: var(--pfui-main-color) !important;
    box-shadow: var(--box-shadow-light);
    border-radius: var(--border-radius)!important;
}
.sheet.actor.character.dark-theme section.window-content .currency li > button {
    background: var(--glass-bg);
}
.sheet.actor.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.spellcasting button.create-entry {
    --secondary: var(--color-cool-3);
    background: var(--secondary);
    text-shadow: var(--text-shadow);
    box-shadow: var(--box-shadow) !important;
    border: none;
}
.sheet.actor.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.spellcasting .spellcasting-entry .spell-ability-data button.prepare-spells {
    --secondary: var(--color-cool-3);
    background: var(--secondary);
    text-shadow: var(--text-shadow);
    box-shadow: var(--box-shadow) !important;
    border: none;
}
.sheet.actor.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.spellcasting .spellcasting-entry .spell-ability-data button.prepare-spells:hover {
    background: var(--green);
    color: var(--color-cool-5) !important;
    box-shadow: var(--box-shadow) !important;
    border: none;
}
.actor.sheet.dark-theme .window-content .item-summary .button-group button {
    background: radial-gradient(var(--primary-light-remaster), var(--primary-remaster));
    border-radius: 15px;
}
.actor.sheet.dark-theme .window-content .item-summary .button-group button:hover {
    color: var(--background) !important;
    background: var(--green)!important;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 0 2px rgba(0, 0, 0, 0.4);
    font-weight: bold;
}

.actor.sheet.dark-theme .crb-style aside .modifiers_button:hover:not(:disabled) {
    color: black!important;
    background: var(--pfui-main-color);
}

.sheet.actor.character.dark-theme h6 {
    color: var(--pfui-main-color) !important;
    background: var(--background) !important;
    border-color: var(--pfui-main-color) !important;
}
.sheet.actor.character.dark-theme .inventory .list-row .item-controls .item-control.toggle-invested, .sheet.actor.character.dark-theme .inventory .list-row .item-controls .item-control.item-carry-type {
    color: var(--pfui-main-color);
}
.actor.sheet.dark-theme section.window-content .inventory ul.items > li > .data .item-controls {
    color: var(--pfui-main-grey-color);
    background: radial-gradient(var(--background-2), transparent);
}
.sheet.actor.character.dark-theme .item-controls {
    color: var(--pfui-main-grey-color);
    background: radial-gradient(var(--background-2), transparent);
}
.sheet.actor.character.dark-theme .item-controls .fa-regular.fa-fw.fa-star {
    color: var(--color-warm-2);
}
.sheet.actor.character.dark-theme .item-controls .fa-solid.fa-fw.fa-star {
    color: var(--green);
}

.sheet.actor.character.dark-theme h3 {
    color: var(--pfui-main-color) !important;
}

.actor.sheet.character.dark-theme .crb-style nav.sheet-navigation .item:hover, .actor.sheet.character.dark-theme .crb-style nav.sheet-navigation .item.active {
    fill: var(--pfui-main-color);
}

.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .blue-button {
    color: var(--pfui-main-color) !important;
    background: var(--background) !important;
    border-radius: 15px;
}
.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .item-image:hover i {
    background: var(--green);
    color: var(--background);
}
.actor.sheet.character.dark-theme nav.sub-nav {
    color: var(--pfui-main-color) !important;
    background: var(--background) !important;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    margin: 7px -2px;
    backdrop-filter: blur(5px);
}

.actor.sheet.dark-theme .crb-style aside .sidebar_label {
    color: var(--alternate-background);
}

.actor.sheet.character.dark-theme .crb-style select {
    background-color: var(--color-cool-4);
    box-shadow: var(--box-shadow);
    text-shadow: var(--text-shadow);
}
.actor.sheet.character.dark-theme input {
    color: var(--pfui-main-color) !important;
    background: transparent;
}
.actor.sheet.character.dark-theme .crb-style .details-input {
background: radial-gradient(var(--background-2), transparent);
    border-radius: var(--border-radius);
}

.actor.sheet.dark-theme .crb-style header.char-header .char-details h1.char-name input[type=text], .actor.sheet.dark-theme .crb-style header.char-header .char-details h1.char-name span.non-editable {
    color: var(--pfui-main-color)!important;
    background: radial-gradient(var(--background-2), transparent);
    text-shadow: 0 0 8px var(--color-shadow-primary);
}

.actor.sheet.dark-theme .crb-style header.char-header .char-details h1.char-name {
    background: none!important;
}

.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.character .ability-scores .ability.key .ability-id, .actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.character .ability-scores .ability.key .ability-mod {
    color: var(--red-light);
}
.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.character .attributes .attribute .abbreviation i.key, .actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.character .attributes .attribute .abbreviation i.apex {
    color: var(--green);
}
.actor.sheet.dark-theme button:hover, .dark-theme button:focus {
    color: var(--background)!important;
    background: var(--green)!important;
}
.actor.sheet.dark-theme  section.window-content form.crb-style section.major > header, 
.actor.sheet.dark-theme  section.window-content form.crb-style section.major > .subsection > header {
    color: var(--alternate-background);
}
.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.character .subsection.speeds {
    background: radial-gradient(var(--background-2), transparent);
    border-radius: var(--border-radius);
}
.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.character .subsection.speeds .speed .label {
    color: var(--pfui-main-color);
}
.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.character .subsection.speeds .value {
    color: var(--color-cool-1);
}
.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.character .subsection.speeds .value i {
    color: var(--alternate-background);
}
.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.character .subsection.speeds .value.rollable svg path {
    fill: var(--color-cool-1);
}
.actor.sheet.character.dark-theme form.crb-style header.char-header .char-level .level input {
    color: var(--green)!important;
}
.actor.sheet.character.dark-theme .crb-style header.char-header .char-level .exp-data .exp-input input {
    color: var(--green)!important;
}
.actor.sheet.character.dark-theme .crb-style header.char-header .char-level .exp-data progress {
    box-shadow: unset;
}



/* Actions        
*************************/
.actor.sheet.dark-theme section.window-content form.crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.action, 
.actor.sheet.dark-theme section.window-content form.crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.strike {
    border: none;
}
.actor.sheet.dark-theme .crb-style .sheet-body .sheet-content .tab.actions .actions-container .actions-tabs-wrapper .actions-panels ol.actions-list li.action {
    border: none;
}

.actor.sheet.dark-theme .crb-style .sheet-body .sheet-content .tab.actions .actions-container .actions-tabs-wrapper .actions-panels ol.actions-list li.action .item-name .item-image:hover {
    background: var(--green)!important;
    color: var(--background);
}

.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.actions .actions-container .actions-tabs-wrapper .actions-panels ol.actions-list.strikes-list li.strike .button-group button:not(:disabled):hover {
    color: var(--background) !important;
    background: var(--green)!important;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 0 2px rgba(0, 0, 0, 0.4);
    border-radius: var(--border-radius);
}

.actor.sheet.dark-theme .crb-style .sheet-body .sheet-content .tab.actions .actions-container .actions-tabs-wrapper .actions-panels ol.actions-list .fa-solid.fa-eye {
    color: var(--green)!important;  
}

.actor.sheet.dark-theme .crb-style .sheet-body .sheet-content .tab.actions .actions-container .actions-tabs-wrapper .actions-panels ol.actions-list .fa-solid.fa-eye-slash {
    color: var(--color-warm-1)!important;  
}
.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.strike .alt-usage .alt-usage-icon {
    background: var(--green);
    box-shadow: var(--glassy);
    border-radius: var(--border-radius);
}
.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.actions .actions-container .actions-tabs-wrapper .actions-panels ol.actions-list.strikes-list li.strike .button-group button:not(:disabled) {
    background: var(--blue);
    text-shadow: var(--text-shadow);
}

.actor.sheet.dark-theme .crb-style .sheet-body .sheet-content .tab.actions .actions-container .actions-tabs-wrapper .actions-panels ol.actions-list li.action .item-name .actions-title .action-name h4:hover .activity-icon {
    color: revert;
}
.actor.sheet.dark-theme section.window-content form.crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.action .item-name h4,
.actor.sheet.dark-theme section.window-content form.crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.strike .item-name h4 {
    color: var(--rarity-common);
}
.actor.sheet.dark-theme section.window-content form.crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.action .item-name .actions-title .action-name > h4 a:hover,
.actor.sheet.dark-theme section.window-content form.crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.strike .item-name .actions-title .action-name > h4 a:hover {
    color: var(--green);
}
.actor.sheet.dark-theme section.window-content form.crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.action .name {
    color: var(--rarity-common);
}
.actor.sheet.dark-theme section.window-content form.crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.action .name > a:hover {
    color: var(--green);
}
.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.actions .actions-container .actions-tabs-wrapper .actions-panels ol.actions-list.strikes-list li.strike .button-group button:not(:disabled).damage {
    background: var(--red);
    text-shadow: var(--text-shadow);
}

.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.strike .button-group .versatile-options button.selected > .icon {
    color:black;
}
:root .actor.sheet.dark-theme .damage.color.slashing .icon {
    color:var(--pfui-main-color);
}
:root .actor.sheet.dark-theme .damage.color.piercing .icon {
    color:var(--pfui-main-color);
}
.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.actions .actions-container .actions-tabs-wrapper .actions-panels ol.actions-list.strikes-list li.strike .button-group .versatile-options button.selected {
    background: var(--green);
}

.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.actions .actions-container .actions-tabs-wrapper .actions-panels ol.actions-list.strikes-list li.strike .auxiliary-actions button:not(:disabled) {
    color: var(--background) !important;
    background: var(--green)!important;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 0 2px rgba(0, 0, 0, 0.4);
    border-radius: var(--border-radius);
}

.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.actions .actions-container .actions-tabs-wrapper .actions-panels ol.actions-list.strikes-list li.strike .auxiliary-actions button:not(:disabled):hover {
    color: var(--pfui-main-color) !important;
    background: var(--red)!important;
    box-shadow: none;
    border-radius: var(--border-radius);
}

.actor.sheet.dark-theme .crb-style nav.sub-nav a.active, 
.actor.sheet.dark-theme .crb-style nav.sub-nav .tab.active {
    color: var(--green) !important;
    text-shadow: 0 0 5px var(--color-shadow-primary);
}

.actor.sheet.dark-theme .crb-style nav.sub-nav a:hover, 
.actor.sheet.dark-theme .crb-style nav.sub-nav .tab:hover {
    color: var(--green)!important;
    text-shadow: 0 0 3px var(--red-light) !important;
}

.actor.sheet.dark-theme .crb-style nav.sub-nav a, 
.actor.sheet.dark-theme .crb-style nav.sub-nav .tab {
    color: var(--pfui-main-color);
    text-shadow: var(--text-shadow);
}
.actor.sheet.dark-theme .crb-style .sheet-body .sheet-content .tab.actions .actions-container .actions-tabs-wrapper .actions-panels ol.actions-list li.action .item-name {
    background: radial-gradient(var(--background-2), transparent);
}
.actor.sheet.dark-theme .crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.action .item-name .actions-title .action-name > h4:hover, 
.actor.sheet.dark-theme .crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.strike .item-name .actions-title .action-name > h4:hover {
    color: var(--green);
    text-shadow: 0 0 8px var(--green);
}
.actor.sheet.dark-theme section.window-content form.crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.action button.use-action:not(:disabled), 
.actor.sheet.dark-theme section.window-content form.crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.strike button.use-action:not(:disabled) {
    background: var(--red);
    text-shadow: var(--text-shadow);
}

.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content h3.header button .fa-solid.fa-eye {
    color: var(--pfui-main-color)!important;
}
.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content h3.header button .fa-eye-slash:before {
    color: var(--pfui-main-color)!important;
    filter: brightness(2);
}




/* Inventory       
*************************/
.actor.sheet.dark-theme section.window-content .inventory ul.items {
    --border-color: var(--color-cool-5-50);
}.actor.sheet.dark-theme .coinage {
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    margin: 5px 2px;
    backdrop-filter: blur(5px);
}
.actor.sheet.dark-theme .inventory .item-name .size {
    color: revert;
}
.actor.sheet.dark-theme .inventory .item-name .item-charges {
    color: var(--green);
}
.actor.sheet.dark-theme  .inventory .list-row .item-controls .item-control.toggle-invested.active, .actor.sheet.dark-theme .inventory .list-row .item-controls .item-control.item-carry-type.active {
    color: darkorange;
}
.actor.sheet.dark-theme .inventory .list-row .item-controls .item-control.item-carry-type:not(.active) {
    color: darkorange;
}
.actor.sheet.dark-theme .inventory .item-summary {
    background: none !important;
}
.actor.sheet.dark-theme .inventory .container-metadata .container-capacity .container-capacity-label {
    color: white;
}
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.inventory .encumbrance .encumbrance-label {
    color: white;
}
.sheet.actor.character.dark-theme .inventory .currency li > button:hover:not(:disabled) {
    color: var(--background) !important;
    background: var(--green)!important;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 0 2px rgba(0, 0, 0, 0.4);
}

.actor.sheet.dark-theme .inventory .inventory-list .list-row:last-child .item-summary, .actor.sheet.dark-theme .inventory .inventory-items .list-row:last-child .item-summary {
    background: none !important;
}

.actor.sheet.character.dark-theme .window-content .inventory ul.items > li > .data .item-name h3:hover, 
.actor.sheet.character.dark-theme .window-content .inventory ul.items > li > .data .item-name h4:hover {
    color: var(--color-warm-2);
    text-shadow: var(--text-shadow);
}
.actor.sheet.character.dark-theme .window-content .inventory ul.items > li > .data .item-name h4:not(:hover).rarity-common {
    border-color: var(--rarity-common);
    color: var(--rarity-common);
    text-shadow: var(--text-shadow);
}
.actor.sheet.character.dark-theme .window-content .inventory ul.items > li > .data .item-name h4:not(:hover).rarity-uncommon {
    border-color: var(--rarity-uncommon);
    color: var(--rarity-uncommon);
    text-shadow: var(--text-shadow);
}
.actor.sheet.character.dark-theme .window-content .inventory ul.items > li > .data .item-name h4:not(:hover).rarity-rare {
    border-color: var(--rarity-rare);
    color: var(--rarity-rare);
    text-shadow: var(--text-shadow);
}
.actor.sheet.character.dark-theme .window-content .inventory ul.items > li > .data .item-name h4:not(:hover).rarity-unique {
    border-color: var(--rarity-unique);
    color: var(--rarity-unique);
    text-shadow: var(--text-shadow);
}
.actor.sheet.character.dark-theme .window-content .inventory ul.items > li > .data .item-name h4.rarity-common:hover {
    color: var(--green)!important;
}

.actor.sheet.character.dark-theme .window-content .inventory ul.items > li > .data .item-name h4.rarity-uncommon:hover {
    color: var(--green)!important;
}

.actor.sheet.character.dark-theme .window-content .inventory ul.items > li > .data .item-name h4.rarity-rare:hover {
    color: var(--green)!important;
}

.actor.sheet.character.dark-theme .window-content .inventory ul.items > li > .data .item-name h4.rarity-unique:hover {
    color: var(--green)!important;
}
.actor.sheet.character.dark-theme section.window-content .inventory ul.items > li > .data .item-name .uses {
    color: var(--green);
}
.actor.sheet.dark-theme .tags .tag.tag_alt {
    background-color: var(--color-cool-4);
    text-shadow: var(--text-shadow);
    border-radius: var(--border-radius);
}
.actor.sheet.dark-theme .window-content .item-summary .tags .tag:not(.property) + .tag.property {
    background-color: var(--secondary)!important;
    color: var(--pfui-main-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    border: none;
}
.actor.sheet.dark-theme .tags .tag, 
.actor.sheet.dark-theme .tags .tag option {
    background-color: var(--primary);
    color: var(--pfui-main-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    border: none;
}
.actor.sheet.dark-theme .inventory .item .item-quantity, 
.actor.sheet.dark-theme .inventory .item .item-weight, 
.actor.sheet.dark-theme .inventory .item .item-controls, 
.actor.sheet.dark-theme .inventory .item .item-sell-value {
    background: radial-gradient(var(--background-2), transparent);
}
.actor.sheet.dark-theme .window-content .inventory ul.items > li > .data .item-controls > a.item-carry-type.active {
    color: var(--rarity-rare);
}
.actor.sheet.dark-theme .window-content .inventory ul.items > li > .data .item-controls > a .fa-stack {
    color: var(--rarity-rare);
}
.actor.sheet.dark-theme .window-content .inventory ul.items > li > .data .item-controls > a.item-carry-type {
    color: var(--color-level-error);
}
.actor.sheet.dark-theme .window-content .inventory ul.items > li > .data .item-controls > a.toggle-invested.active {
    color: var(--green);
} 
.actor.sheet.dark-theme .window-content .inventory ul.items > li > .data .item-controls > a.toggle-invested,
.actor.sheet.dark-theme .window-content .inventory ul.items > li > .data .item-controls > a.item-carry-type {
    color: var(--color-level-error);
}
.actor.sheet.dark-theme .window-content .inventory .inventory-list > header, 
.actor.sheet.dark-theme .window-content .inventory .total-bulk {
    color: var(--pfui-main-color);
    background: linear-gradient(45deg, var(--color-cool-4), var(--color-cool-5-75));
    border: 1px dotted rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 6px inset var(--glass-bg-light-2);
    text-shadow: var(--text-shadow);
}



/* Spellcrafting 
*************************/
.actor.sheet.dark-theme .crb-style .sheet-body .sheet-content ol.spell-list > li.header-row .item-name h3 {
    color: var(--color-warm-1)!important;
    text-shadow: var(--text-shadow);
}
.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .blue-button:hover {
    text-shadow: 0 0 3px var(--red-light) !important;
}
.actor.sheet.dark-theme section.window-content form.crb-style .sheet-body .sheet-content ol.spell-list > li button.cast-spell {
    --secondary: var(--color-cool-3);
    background: var(--secondary);
    box-shadow: var(--box-shadow) !important;
    text-shadow: var(--text-shadow);
}
.actor.sheet.dark-theme section.window-content form.crb-style .sheet-body .sheet-content ol.spell-list > li.spell[data-slot-expended] button.cast-spell {
    cursor: not-allowed;
    border: none;
    text-shadow: 0 0 8px var(--color-shadow-primary);
    border-radius: var(--border-radius);
    filter: drop-shadow(0px 0px 0px var(--red-light));
    background: var(--color-cool-5);
    color: var(--red-light)!important;
    box-shadow: inset 0 0 0 1px rgba(255, 0, 0, 0.5);
}
.actor.sheet.dark-theme section.window-content form.crb-style .sheet-body .sheet-content ol.spell-list > li.spell[data-slot-expended] button.cast-spell:hover {
    background: var(--red-light)!important;
    color: var(--color-cool-5)!important;
    text-shadow: var(--text-shadow)!important;
}
.actor.sheet.dark-theme .crb-style .sheet-body .sheet-content ol.spell-list > li .item-summary {
    background-color: transparent;
}

.actor.sheet.dark-theme .crb-style .sheet-body .sheet-content ol.spell-list > li:nth-child(odd) {
    background-color: var(--background);
}

.actor.sheet.dark-theme section.window-content form.crb-style .sheet-body .sheet-content ol.spell-list > li.header-row {
    background: radial-gradient(var(--background-2), transparent);
    border: 1px dotted rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 6px inset var(--glass-bg-light-2);
    text-shadow: var(--text-shadow);
}

.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.spellcasting .spellcasting-entry .rollable .d20-svg path {
    fill: var(--green);
}
.actor.sheet.dark-theme .crb-style .sheet-body .sheet-content ol.directory-list .action-header > a .fas, 
.actor.sheet.dark-theme .crb-style .sheet-body .sheet-content ol.directory-list .action-header > a > .fa {
    color: var(--green);
}
.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.spellcasting .spellcasting-entry .spell-ability-data button:hover {
color: var(--green)!important;
}
.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.spellcasting .spellcasting-entry .spell-ability-data .focus-pool .pips i.fa-dot-circle {
    color: var(--green);
}
.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.spellcasting .spellcasting-entry .spell-ability-data .focus-pool .pips i.fa-circle {
    color: var(--red-light);
}
.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content ol.spell-list > li.header-row input, 
.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content ol.spell-list > li .uses input {
    color: var(--color-warm-1)!important;
    background: var(--color-cool-3);
    font-weight: bold;
    text-shadow: var(--text-shadow);
}
.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.spellcasting .pf-add-item-row a {
    color: var(--pfui-main-color)!important;
    background: radial-gradient(var(--primary-remaster), var(--primary-light-remaster))!important;
    border-radius: 15px;
    text-shadow: var(--text-shadow);
}
.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.spellcasting .pf-add-item-row a:hover {
    color: var(--background)!important;
    background: var(--green)!important;
    text-shadow:none!important;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 0 2px rgba(0, 0, 0, 0.4);
}
.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .item-image.framed, 
.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .item-image.framed i {
    background: var(--green);
    color: var(--background);
}
.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.spellcasting .spellcasting-entry .spell-ability-data .skill-score {
    color: var(--green);
}
.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.spellcasting .spellcasting-entry .rollable .d20-svg {
    filter: invert(1);
}
.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content ol.spell-list > li .item-name h4 > a:hover {
    color: var(--green);
}
.actor.sheet.character.dark-theme form ol.spell-list > li[data-expended-state=true] h4 {
    border: none;
    border-radius: var(--border-radius);
    color: var(--pfui-main-grey-color) !important;
}
.actor.sheet.dark-theme section.window-content .item-summary .description .addendum {
    font-family: "Good OT Italic";
    color: var(--pfui-main-color);
    border-left-width: 0;
    border-top: 2px solid var(--color-cool-5);
    border-bottom: 2px solid var(--color-cool-5);
    padding: 4px 12px;
    margin-left: 0;
    margin-right: 0;
    background: #584a754d;
    border-radius: var(--border-radius-5);
    text-shadow: var(--text-shadow);
}
.actor.sheet.dark-theme section.window-content .item-summary .description .addendum h4 {
    border-color: #ff6400;
    color: #ff6400;
    text-shadow: var(--text-shadow);
}






/* crafting
*************************/
.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.crafting .known-formulas .formula-list .formula-level-header .item-summary, 
.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.crafting .known-formulas .formula-list .formula-item .item-summary, 
.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.crafting .crafting-entry .formula-list .formula-level-header .item-summary, 
.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.crafting .crafting-entry .formula-list .formula-item .item-summary {
    background: none!important;
}
.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.crafting li.known-formulas ol.formula-list li.formula-level-header .level-name h4:hover,
.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.crafting li.known-formulas ol.formula-list li.formula-level-header .item-name h4:hover, 
.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.crafting li.known-formulas ol.formula-list li.formula-item .level-name h4:hover, 
.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.crafting li.known-formulas ol.formula-list li.formula-item .item-name h4:hover, 
.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.crafting li.crafting-entry ol.formula-list li.formula-level-header .level-name h4:hover, 
.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.crafting li.crafting-entry ol.formula-list li.formula-level-header .item-name h4:hover, 
.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.crafting li.crafting-entry ol.formula-list li.formula-item .level-name h4:hover, 
.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.crafting li.crafting-entry ol.formula-list li.formula-item .item-name h4:hover {
    color: var(--green) ;
    text-shadow: 0 0 1px var(--green);
}
.actor.sheet.dark-theme .crb-style .sheet-body .sheet-content ol.directory-list .action-header h3 {
    background: radial-gradient(var(--background-2), transparent);
    text-shadow: var(--text-shadow);
}





/* Proficiencies
*************************/
.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.proficiencies ul.proficiencies-list li {
    background: linear-gradient(45deg, var(--color-cool-4), var(--color-cool-5-75));
    box-shadow: var(--box-shadow);
    border: none;
    color: var(--color-warm-1);
    border-radius: var(--border-radius);
    border-image-repeat: repeat;
    border-image-slice: 11;
    border-image-source: var(--ornement);
    border-image-width: 14px;
    border-style: double;
    min-height: 2.8rem;
    padding: 0 1rem 0 0.25rem;
}
.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.proficiencies ul.proficiencies-list li .button-group button {
    border: unset;
    box-shadow: var(--box-shadow);
    background: var(--glass-bg);
}
.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.proficiencies h1, 
.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.proficiencies h4, 
.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.proficiencies h6 {
    text-shadow: var(--text-shadow);
}
.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.proficiencies ul.proficiencies-list li a.skill-name:hover,
.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.proficiencies ul.proficiencies-list li a.modifier:hover {
    color: var(--green);
    text-shadow: var(--text-shadow);
}
.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.proficiencies ul.proficiencies-list li .modifier {
    color: var(--green);
    text-shadow: var(--text-shadow);
}
.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.proficiencies ul.proficiencies-list li .modifier:hover {
    color: var(--color-warm-1);
    text-shadow: var(--text-shadow);
}
.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.proficiencies ul.proficiencies-list li a.d20 {
    filter: drop-shadow(0px 0px 8px black);
    padding: 0.4rem;
}
.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.proficiencies ul.proficiencies-list li a.d20 path {
    fill: var(--green);
    filter: contrast(2);
}
.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.proficiencies ul.proficiencies-list li .dc {
    color: var(--red-light);
}
.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.proficiencies ul.proficiencies-list li a.hover {
    --color-pf-primary-dark: var(--red-light);
}


/* Feats        
*************************/
.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.feats .feat-item:nth-child(odd) {
    background-color: var(--background);
}

.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.feats ol.feats-list li.slot .item-name h4 a:hover {
    color: var(--green);
    text-shadow:none;
}
.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.feats .feat-item {
    border: 1px dotted var(--color-cool-5-50);
}
.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.feats ol.feats-list li.slot .item-name .feat-slot-title {
    color: var(--green)!important;
}
.actor.sheet.character.dark-theme table.pf2e, 
.actor.sheet.character.dark-theme table.pf2-table {
    color: var(--color-cool-5);
}




/* Effects        
*************************/
.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.effects .effects-list .item {
    border: none;
}





/* Biography     
*************************/
.actor.sheet.dark-theme .crb-style .sheet-body .sheet-content .tab.biography h3 {
    color: darkgray!important;
}
.actor.sheet.dark-theme .crb-style .sheet-body .sheet-content .tab.biography .biography-content .editor .editor-edit {
    background: var(--background);
    color: var(--pfui-main-color);
}
.actor.sheet.dark-theme .crb-style .sheet-body .sheet-content .tab.biography section .bio .biography-content .editor .tox .tox-tbtn:hover {
    background: var(--color-cool-4)!important;
    color: var(--pfui-main-color)!important;
}
.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.biography section.editable .editor-content,
.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.biography section.editable input {
    background: radial-gradient(var(--background-2), transparent);
    border: 1px dotted var(--color-cool-5-50);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.biography h3.header a i.fa-solid.fa-fw.fa-eye {
    color: var(--green);
}
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.biography h3.header a i.fa-eye-slash {
    color: var(--color-warm-1);
}



/* Pathfinder Society 
*************************/
.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.pfs > section.level-bump .toggle::after, .actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.pfs > section.level-bump .toggle::before {
    top: 2px;
}
.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.pfs > section.level-bump .toggle::after {
    color: var(--pfui-main-color) !important;
    background: var(--red) !important;
    border-radius: 50px;
    right: 0px;
    top: 2px;
}
.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.pfs > section.organized-play input {
    background: radial-gradient(var(--background-2), transparent);
    border: 1px dotted var(--color-cool-5-50);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.pfs > section.reputations .reputation input {
    background: radial-gradient(var(--background-2), transparent);
    border: 1px dotted var(--color-cool-5-50);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}





/* DarK Mode
*************************/
.dark.actor.sheet.dark-theme .crb-style {
    background: radial-gradient(var(--color-cool-5-90), transparent);
}
.dark.sheet.actor.character.dark-theme .crb-style .sheet-body .sheet-content .tab.character .character-details .alignment {
    background: none;
}
.dark.sheet.actor.character.dark-theme .crb-style .sheet-body .sheet-content .tab.character .character-details .alignment::after {
    background: none;
}
.dark.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.character .subsection.attributes ul .label {
    color: var(--green) !important;
    opacity: 0.7;
}
.dark.actor.sheet.dark-theme .crb-style aside .modifiers_button {
    background: radial-gradient( var(--primary-remaster), var(--primary-light-remaster));
}
.dark.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content h3.header button {
    background: radial-gradient( var(--primary-remaster), var(--primary-light-remaster));
    border-radius: var(--border-radius);
}






/*.red .dark-theme
*************************/
.red.actor.sheet.character.dark-theme section.window-content .crb-style {
    background-image: url("../css/assets/red-pc-sheet/dark_red-header.webp"), var(--sheet);
}
.red.actor.sheet.character.dark-theme section.window-content .crb-style aside {
	background-image: url("../css/assets/red-pc-sheet/dark_red_sidebar_top.webp"), url("../css/assets/red-pc-sheet/dark_red_sidebar_bottom.webp") ;
}
.red.actor.sheet.dark-theme .crb-style nav.sheet-navigation .item:hover, 
.red.actor.sheet.dark-theme .crb-style nav.sheet-navigation .item.active {
	background-image: url("../css/assets/red-pc-sheet/red-nav-item.webp");
}
.red.actor.sheet.character.dark-theme section.window-content .crb-style aside .logo {
    filter: drop-shadow(1px 2px 10px var(--red-light)) grayscale(0.75);
}
.red.actor.sheet.character.dark-theme section.window-content .crb-style aside .sidebar .hitpoints .hp-big .container.current-hp {
    background-image: linear-gradient(90deg, var(--remaster) 0%, var(--remaster-light) 50%, var(--remaster) 100%);
    background-color: var(--remaster);
}
.red.actor.sheet.character.dark-theme section.window-content .crb-style aside .sidebar .armor-class .shield.hp {
    background: url("../css/assets/red-pc-sheet/red-shield.webp") no-repeat top center;
}
.red.actor.sheet.character.dark-theme .crb-style header.char-header .char-level .level {
    background: url("../css/assets/red-pc-sheet/red-level-badge.webp") no-repeat;
}
.red.actor.sheet.dark-theme .crb-style nav.sheet-navigation {
    background: radial-gradient(var(--red), transparent)!important;
    border: none;
}

.red.sheet.actor.character.dark-theme .crb-style .sheet-body .sheet-content .tab.character .character-details .alignment {
    background: none;
}
.red.sheet.actor.character.dark-theme .crb-style .sheet-body .sheet-content .tab.character .character-details .alignment::after {
    background: none;
}

.red.actor.sheet.dark-theme section.window-content .crb-style aside .modifiers_button {
    background: radial-gradient(darkred, var(--red));
}
.red.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content h3.header button {
    background: radial-gradient(darkred, var(--red));
    border: 1px solid var(--red);
    text-shadow: var(--text-shadow);
}
.red.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content > .tab.active.character .subsection.attributes ul h3.modifier {
    background: radial-gradient(var(--red), transparent)!important;
    color: darkgray!important;
    border-image-source: var(--ornement);
}
.red.sheet.actor.character.dark-theme .crb-style .sheet-body .sheet-content .tab.inventory .inventory-header {
    color: var(--pfui-main-color);
    background: radial-gradient(var(--red), transparent)!important;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    margin: 5px 2px;
    backdrop-filter: blur(5px);
    padding: 0px;
}
.red.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.spellcasting .pf-add-item-row a {
    background: radial-gradient(var(--red), transparent)!important;
    text-shadow: var(--text-shadow);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
}
.red.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.spellcasting .pf-add-item-row a:hover {
    color: var(--background)!important;
    background: var(--green)!important;
    text-shadow:none!important;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 0 2px rgba(0, 0, 0, 0.4);
}
.red.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.character .subsection.attributes ul .abbreviation {
    color: var(--alternate-background);
}
.red.actor.sheet.dark-theme .window-content .item-summary .button-group button {
    background: radial-gradient(var(--red),transparent);
    border-radius: 15px;
}
.red.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.character .subsection.attributes ul .label {
    color: var(--green) !important;
    opacity: 0.7;
}




/* Remaster PC Sheet
*************************/
.remaster.actor.sheet.dark-theme section.window-content .crb-style {
	background-image: url("../css/assets/remaster-pc-sheet/header.webp"), url("../css/assets/remaster-pc-sheet/background.webp")!important;
}
.remaster.actor.sheet.dark-theme section.window-content .crb-style aside {
	background-image: url("../css/assets/remaster-pc-sheet/green_sidebar_top.webp"), url("../css/assets/remaster-pc-sheet/green_sidebar_bottom.webp") ;
}

.remaster.actor.sheet.dark-theme section.window-content .crb-style aside .sidebar .hitpoints .hp-big .container.current-hp {
	background-image: linear-gradient(90deg, var(--primary-remaster) 0%, var(--primary-light-remaster) 50%, var(--primary-remaster) 100%);
	background-color: var(--primary-remaster);
}
.remaster.actor.sheet.dark-theme section.window-content .crb-style aside .sidebar .armor-class .shield.hp {
	background: url("../css/assets/remaster-pc-sheet/shield-blue.webp") no-repeat top center;
}

.remaster.actor.sheet.dark-theme .crb-style header.char-header .char-level .level {
	background: url("../css/assets/remaster-pc-sheet/level-badge.webp") no-repeat;
}

.remaster.actor.sheet.dark-theme .crb-style nav.sheet-navigation .item:hover,
.remaster.actor.sheet.dark-theme .crb-style nav.sheet-navigation .item.active {
	background-image: url("../css/assets/remaster-pc-sheet/green-nav-item.webp");
}
.remaster.sheet.actor.character.dark-theme .crb-style .sheet-body .sheet-content .tab.character .character-details .alignment {
    background: url("../css/assets/remaster-pc-sheet/banner-bg.webp") repeat-x center;
}
.remaster.sheet.actor.character.dark-theme .crb-style .sheet-body .sheet-content .tab.character .character-details .alignment::after {
    background: url("../css/assets/remaster-pc-sheet/banner-bg2.webp") no-repeat right;
}
.remaster.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.character .pc h3 {
    background-color: rgba(28, 28, 28, 0.1);
}
.remaster.actor.sheet.dark-theme .crb-style nav.sheet-navigation {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.remaster.actor.sheet.dark-theme .crb-style header.char-header .char-level .level input {
    color: var(--pfui-main-color)!important;
    background: none;
}
.remaster.actor.sheet.dark-theme .crb-style .sheet-body .sheet-content {
    color: var(--primary-remaster);
}
.remaster.sheet.actor.character.dark-theme .window-content {
    color: var(--pfui-main-color);
    background: none;
}
.remaster.actor.sheet.dark-theme .tags .tag.tag_alt {
    background-color: var(--primary);
    color: var(--pfui-main-color);
}
.remaster.actor.sheet.character.dark-theme .crb-style header.char-header .char-level .exp-data .exp-input input {
    color: var(--pfui-main-color) !important;
    background: transparent;
}
.remaster.actor.sheet.character.dark-theme input {
    color: var(--primary-remaster) !important;
}
.remaster.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character .character-details .alignment select {
    color: var(--primary-remaster) !important;
}
.remaster.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content h3.header {
    color: var(--primary-remaster)!important;
}
.remaster.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.character .subsection.attributes ul .label {
    --text-dark:#191813;
    opacity: 0.7;
}
.remaster.actor.sheet.dark-theme .crb-style .details-label {
    color: var(--primary-light-remaster);
}
.remaster.actor.sheet.character.dark-theme .crb-style aside input[type=number] {
    color: var(--pfui-main-color)!important;
}
.remaster.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.character .subsection.attributes ul .abbreviation {
    color: var(--primary-remaster);
}
.remaster.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content h3.header button {
    background: radial-gradient( var(--primary-remaster), var(--primary-light-remaster));
    border-radius: var(--border-radius);
    text-shadow: var(--text-shadow);
}
.remaster.actor.sheet.dark-theme .crb-style aside .sidebar .roll-data h3 {
    color: var(--pfui-main-color) !important;
    border-color: var(--pfui-main-color) !important;
}
.remaster.sheet.actor.character.dark-theme h3 {
    color: var(--primary-remaster)!important;
    border-color: var(--pfui-main-color) !important;
}
.remaster.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.character .subsection.attributes ul h3.modifier {
    background: none!important;
    color: var(--primary-remaster)!important;
    border-image-repeat: repeat;
    border-image-slice: 11;
    border-image-source: url("../css/assets/remaster-pc-sheet/frame-elegant.svg");
    border-image-width: 14px;
    border-style: double;
}
.remaster.actor.sheet.dark-theme .crb-style .sheet-body .sheet-content .tab.actions .actions-container .actions-tabs-wrapper .actions-panels ol.actions-list li.action .item-summary {
    color: var(--primary-light-remaster);
}
.remaster.actor.sheet.dark-theme .crb-style .sheet-body .sheet-content .tab.biography h3 {
    color: var(--primary-remaster)!important;
    border-bottom: 1px solid var(--primary-remaster);
}
.remaster.actor.sheet.dark-theme .crb-style aside .modifiers_button {
    background: radial-gradient( var(--primary-remaster), var(--primary-light-remaster));
}
.remaster.actor.sheet.dark-theme .crb-style nav.sub-nav a.active, .remaster.actor.sheet.dark-theme .crb-style nav.sub-nav .tab.active {
    color: var(--primary-light-remaster);
    text-shadow: var(--text-shadow);
}
.remaster.actor.sheet.dark-theme .crb-style .sheet-body .sheet-content ol.directory-list .action-header {
    background: var(--primary-remaster);
}
.remaster.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.proficiencies .skills-list .skill .skill-score, 
.remaster.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.proficiencies .lores-list .skill .skill-score, 
.remaster.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.proficiencies .combat-list .skill .skill-score {
    color: var(--green);
    text-shadow: 0 0 1px var(--primary-light-remaster);
}
.remaster.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.proficiencies .skills-list .skill .rollable:hover, 
.remaster.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.proficiencies .lores-list .skill .rollable:hover, 
.remaster.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.proficiencies .combat-list .skill .rollable:hover {
    color: var(--primary-light-remaster);
}
.remaster.actor.sheet.character.dark-theme nav.sub-nav {
    background: radial-gradient( var(--primary-remaster), var(--primary-light-remaster))!important;
}
.remaster.actor.sheet.dark-theme .crb-style .sheet-body .sheet-content .tab.actions .actions-container .actions-tabs-wrapper .actions-panels ol.actions-list li.action .item-name h4 {
    color: var(--primary-remaster);
}
.remaster.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.actions .action-tracking span {
    color: var(--primary-remaster);
}
.remaster.sheet.actor.character.dark-theme .item-name {
    color: var(--pfui-main-color)!important;
    background: radial-gradient(var(--background-2), transparent);
    text-shadow: none;
}
.remaster.sheet.actor.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.feats ol.feats-list li.slot .item-name {
    color: var(--primary-remaster)!important;
}
.remaster.sheet.actor.character.dark-theme .crb-style .sheet-body .sheet-content .tab.inventory .inventory-list .item .item-name h4.rarity-common {
    --rarity-common: var(--color-cool-4);
    border-color: var(--rarity-common);
    color: var(--rarity-common);
    text-shadow: var(--text-shadow);
}
.remaster.sheet.actor.character.dark-theme .item-controls {
    color: var(--green) !important;
    background: radial-gradient(var(--background-2), transparent);
}
.remaster.actor.sheet.dark-theme .crb-style .sheet-body .sheet-content .tab.actions .actions-container .actions-tabs-wrapper .actions-panels ol.actions-list li.action {
    border-top: 1px solid #d5cac1;
    border: solid transparent;
    border-width: 0 0 1px;
    border-image: linear-gradient(90deg, #f1edea, #d5cac1) 1 repeat;
}
.remaster.sheet.actor.character.dark-theme .crb-style .sheet-body .sheet-content .tab.inventory .inventory-header {
    color: var(--pfui-main-color);
    background: radial-gradient(var(--primary-remaster), var(--primary-light-remaster))!important;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    margin: 5px 2px;
    backdrop-filter: blur(5px);
    padding: 0px;
}
.remaster.sheet.actor.character.dark-theme .currency {
    background: radial-gradient(var(--primary-remaster), var(--primary-light-remaster))!important;
}
.remaster.sheet.actor.character.dark-theme .crb-style .sheet-body .sheet-content .tab.inventory .wealth {
    background: radial-gradient(var(--primary-remaster), var(--primary-light-remaster))!important;
}
.remaster.sheet.actor.character.dark-theme .currency li {
    background-color: transparent;
}
.remaster.actor.sheet.dark-theme .inventory .item .item-quantity, .remaster.actor.sheet.dark-theme .inventory .item .item-weight, .remaster.actor.sheet.dark-theme .inventory .item .item-controls, .remaster.actor.sheet.dark-theme .inventory .item .item-sell-value {
    color: var(--primary-remaster);
}
.remaster.sheet.actor.character.dark-theme .crb-style .sheet-body .sheet-content ol.directory-list .action-header h3 input.item-name-input {
    color: var(--pfui-main-color)!important;
    text-shadow: var(--text-shadow);
}
.remaster.actor.sheet.dark-theme .crb-style .sheet-body .sheet-content ol.directory-list .action-header .item-controls {
    color: var(--pfui-main-color)!important;
    text-shadow: var(--text-shadow);
}
.remaster.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .blue-button {
    color: var(--pfui-main-color) !important;
    background: radial-gradient(var(--primary-remaster), var(--primary-light-remaster))!important;
    border-radius: 15px;
}
.remaster.actor.sheet.dark-theme .crb-style .sheet-body .sheet-content ol.spell-list > li:nth-child(odd) {
    background-color: rgba(120, 100, 82, 0.1)!important;
}
.remaster.actor.sheet.dark-theme .crb-style .sheet-body .sheet-content ol.spell-list > li.spell-level-header {
    background: radial-gradient(var(--primary-remaster), var(--primary-light-remaster));
    border: 1px dotted rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 6px inset var(--glass-bg-light-2);
    border-radius: var(--border-radius);
    text-shadow: var(--text-shadow);
}
.remaster.actor.sheet.dark-theme .inventory .item-summary {
    background: none!important;
    color: var(--primary-light-remaster)!important;
    border-image-repeat: repeat;
    border-image-slice: 11;
    border-image-source: url("../css/assets/remaster-pc-sheet/frame-elegant.svg");
    border-image-width: 14px;
    border-style: double;
}
.remaster.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .directory-list h4 {
    color: var(--primary-remaster);
}
.remaster.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .directory-list {
    color: var(--primary-light-remaster);
}
.remaster.actor.sheet.dark-theme .crb-style .sheet-body .sheet-content ol.spell-list > li.spell {
    color: var(--primary-remaster);
}
.remaster.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.crafting .crafting-options .crafting-option label * {
    color: var(--primary-light-remaster);
}
.remaster.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.proficiencies .skills-list .skill, .remaster.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.proficiencies .lores-list .skill, .remaster.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.proficiencies .combat-list .skill {
    background: none;
    border: none;
    box-shadow: none;
    border-image-repeat: repeat;
    border-image-slice: 11;
    border-image-source: url("../css/assets/remaster-pc-sheet/frame-elegant.svg");
    border-image-width: 14px;
    border-style: double;
    padding: 2px 15px 2px 4px;
    display: flex;
    align-items: center;
}
.remaster.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.proficiencies h1, .remaster.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.proficiencies h4, .remaster.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.proficiencies h6 {
    color: var(--primary-remaster);
    text-shadow: none!important;
}
.remaster.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.proficiencies .lores-list .skill input, .remaster.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.proficiencies .combat-list .skill input {
    color: var(--primary-remaster) !important;
}
.remaster.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.feats .feat-item:nth-child(odd) {
    background-color: rgba(120, 100, 82, 0.1);
    border-radius: 6px;
}
.remaster.actor.sheet.dark-theme .crb-style .sheet-body .sheet-content .tab.biography .biography-content p, .remaster.actor.sheet.dark-theme .crb-style .sheet-body .sheet-content .tab.biography .biography-content p + p, .remaster.actor.sheet.dark-theme .crb-style .sheet-body .sheet-content .tab.biography .biography-content ul, .remaster.actor.sheet.dark-theme .crb-style .sheet-body .sheet-content .tab.biography .biography-content ol {
color: var(--primary-remaster);
}
.remaster.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.biography section.editable .editor-content,
.remaster.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.biography section.editable input {
    background: none;
    border: none;
    box-shadow: none;
}
.remaster.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.pfs > section.reputations {
    color: var(--primary-remaster);
}
.remaster.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.pfs > section.organized-play input {
    background-color: rgba(28, 28, 28, 0.1);
    border: unset;
    box-shadow: unset;
    border-radius: unset;
}
.remaster.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.pfs > section.reputations .reputation input {
    background-color: rgba(28, 28, 28, 0.1);
    border: unset;
    box-shadow: unset;
    border-radius: unset;
}
.remaster.actor.sheet.character.dark-theme .crb-style select {
    box-shadow: unset;
}
.remaster.actor.sheet.character.dark-theme .tags .tag, 
.remaster.actor.sheet.character.dark-theme .tags .tag option {
    box-shadow: unset;
}
.remaster.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.actions .actions-container .actions-tabs-wrapper .actions-panels ol.actions-list.strikes-list li.strike .button-group button:not(:disabled) {
    box-shadow: unset;
}
.remaster.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content ol.spell-list > li .cast-spell button {
    box-shadow: unset;
}
.remaster.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content ol.spell-list > li[data-expended-state=true] .cast-spell button {
    box-shadow: inset 0 0 0 1px rgba(255, 0, 0, 0.5)!important;
}
.remaster.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content ol.spell-list > li.spell-level-header input, 
.remaster.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content ol.spell-list > li .uses input {
    color: var(--primary-remaster) !important;
    text-shadow: unset;
    background: none;
    border-radius: 50%;
    border: 4px dotted var(--color-warm-2);
}
.remaster.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.proficiencies ul.proficiencies-list li .modifier {
    color: var(--color-warm-3);
    text-shadow: unset;
}
.remaster.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.proficiencies ul.proficiencies-list li .modifier:hover {
    color: var(--green);
    text-shadow: unset;
}
.remaster.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.proficiencies ul.proficiencies-list li .button-group button {
    box-shadow: unset;
}
.remaster.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.proficiencies ul.proficiencies-list li {
    background: unset;
    color: var(--color-warm-3);
    border: unset;
    box-shadow: unset;
    border-image-repeat: repeat;
    border-image-slice: 11;
    border-image-width: 14px;
    border-style: double;
    border-image-source: url(../css/assets/remaster-pc-sheet/frame-elegant.svg);
}
.remaster.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.character .subsection.speeds .label {
    color: unset;
}
.remaster.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.character .subsection.speeds .value {
    color: unset;
}
.remaster.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.character .subsection.speeds .value i {
    color: unset;
}
.remaster.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.character .subsection.speeds .value.rollable svg path {
    fill: unset;
}
.remaster.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.proficiencies ul.proficiencies-list li a.d20 {
    filter: drop-shadow(0 0 1px var(--color-shadow-dark)) drop-shadow(0 0 3px var(--color-text-dark-4)) drop-shadow(0 0 12px var(--color-text-light-3));
}
.remaster.actor.sheet.character.dark-theme section.window-content form.crb-style section.major > header,
.remaster.actor.sheet.character.dark-theme section.window-content form.crb-style section.major > .subsection > header {
    color: var(--primary-remaster);
}
.remaster.actor.sheet.character.dark-theme form.crb-style section.major > header button,
.remaster.actor.sheet.character.dark-theme form.crb-style section.major > .subsection > header button {
    background: transparent;
    color: var(--primary-remaster)!important;
}
.remaster.actor.sheet.character.dark-theme .window-content .inventory ul.items > li > .data .item-name h4:not(:hover).rarity-common {
    --rarity-common: var(--color-cool-4);
    border-color: var(--rarity-common);
    color: var(--rarity-common);
    text-shadow: unset;
}
.remaster.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.character .subsection.speeds .label {
    color: unset;
}
.remaster.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.character .subsection.speeds .value {
    color: unset;
}
.remaster.actor.sheet.character.dark-theme section.window-content .crb-style .sheet-body .sheet-content > .tab.active.character .subsection.speeds .value i {
    color: unset;
}
.remaster.actor.sheet.character.dark-theme .window-content .inventory ul.items > li > .data .item-name h4:not(:hover).rarity-uncommon {
    text-shadow: unset;
}
.remaster.actor.sheet.character.dark-theme .window-content .inventory ul.items > li > .data .item-name h4:not(:hover).rarity-rare {
    text-shadow: unset;
}
.remaster.actor.sheet.character.dark-theme .window-content .inventory ul.items > li > .data .item-name h4:not(:hover).rarity-unique {
    text-shadow: unset;
}
.remaster.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content ol.spell-list > li.header-row .item-name h3 {
    color: var(--color-warm-2)!important;
    text-shadow: unset;
}
.remaster.actor.sheet.character.dark-theme section.window-content form.crb-style .sheet-body .sheet-content ol.spell-list > li.header-row {
    background: rgba(96, 88, 86, 0.25);
    border: 1px solid var(--color-border-light-2);
    box-shadow: unset;
    text-shadow: unset;
}
.remaster.actor.sheet.character.dark-theme section.window-content form.crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.action .item-name h4,
.remaster.actor.sheet.character.dark-theme section.window-content form.crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.strike .item-name h4 {
    --rarity-common: var(--color-cool-4);
    color: var(--rarity-common);
}
.remaster.actor.sheet.character.dark-theme section.window-content form.crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.action .name {
    --rarity-common: var(--color-cool-4);
    color: var(--rarity-common);
}
.remaster.actor.sheet.character.dark-theme .crb-style .sheet-body .sheet-content .tab.proficiencies ul.proficiencies-list li a.d20 path {
    fill: var(--primary-remaster);
    filter: contrast(2);
}
.remaster.actor.sheet.dark-theme section.window-content .item-summary .description .addendum {
    font-family: unset;
    border-left-width: unset;
    text-shadow: unset;
    background: rgba(68, 55, 48, 0.1);
    border-radius: 2px;
    color: var(--color-pf-alternate-darker);
    padding: var(--space-4);
    margin: 0 0 var(--space-8);
}
.remaster.actor.sheet.dark-theme section.window-content .item-summary .description .addendum h4 {
    border-color: unset;
    text-shadow: unset;
}
.remaster.actor.sheet.dark-theme .crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.strike .alt-usage .alt-usage-icon {
    background: unset;
    box-shadow: unset;
    border-radius: unset;
}
.remaster.actor.sheet.dark-theme .crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.action button.use-action:not(:disabled), 
.remaster.actor.sheet.dark-theme .crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.strike button.use-action:not(:disabled) {
    text-shadow: unset;
}


/* Support        
*************************/
/*Workbench*/
.actor.sheet.character.dark-theme .xdy-pf2e-workbench-rarity-common {
    border-color: var(--rarity-common);
    color: var(--rarity-common);
    text-shadow: var(--text-shadow);
}
.remaster.sheet.actor.character.dark-theme .xdy-pf2e-workbench-rarity-common {
    --rarity-common: var(--color-cool-4);
    border-color: var(--rarity-common) !important;
    color: var(--rarity-common) !important;
    text-shadow: unset;
}
.actor.sheet.character.dark-theme .xdy-pf2e-workbench-rarity-uncommon {
    border-color: #ff6400;
    color: #ff6400;
    text-shadow: var(--text-shadow);
}
.remaster.sheet.actor.character.dark-theme .xdy-pf2e-workbench-rarity-uncommon {
    border-color: #ff6400 !important;
    color: #ff6400 !important;
    text-shadow: unset;
}
.actor.sheet.character.dark-theme .xdy-pf2e-workbench-rarity-rare {
    border-color: #0062ff;
    color: #0062ff;
    text-shadow: var(--text-shadow);
}
.remaster.sheet.actor.character.dark-theme .xdy-pf2e-workbench-rarity-rare {
    border-color: #0062ff !important;
    color: #0062ff !important;
    text-shadow: unset;
}
.actor.sheet.character.dark-theme .xdy-pf2e-workbench-rarity-unique {
    border-color: #e127e1;
    color: #e127e1;
    text-shadow: var(--text-shadow);
}
.remaster.sheet.actor.character.dark-theme .xdy-pf2e-workbench-rarity-unique {
    border-color: #e127e1 !important;
    color: #e127e1 !important;
    text-shadow: unset;
}